<template>
    <section>
        <v-row dense>
            <v-col cols="12" sm="11">
            <h3>{{ $t('period.accsSummary') }}</h3>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <div dense v-if="expandDetails">
            <v-row dense class="pa-0 ma-0">
                <v-col cols="12" sm="8">
                    <UserProp
                        v-bind:label="$t('period.fundingStatus')"
                        v-bind:value="period.fundingStatus"
                    />
                </v-col>
            </v-row>
            <v-row dense>
                <v-col cols="12">
                    <v-simple-table>
                        <thead><tr>
                            <th class="text-left">ACCS Data String</th>
                            <th class="text-left">Total Allocated Amount</th>
                        </tr></thead>
                        <tbody><tr>
                            <td>{{ applicant.accsDataString }}</td>
                            <td>{{ amount }}</td>
                        </tr></tbody>
                    </v-simple-table>
                </v-col>
            </v-row>
            <v-row dense class="pa-0 ma-0">
                <v-col cols="12" offset-sm="4" sm="4">
                    <UserProp
                        v-bind:label="$t('period.totalACCs')"
                        v-bind:value="'1'"
                    />
                </v-col>
                <v-col cols="12" sm="4">
                    <UserProp
                        v-bind:label="$t('period.total')"
                        v-bind:value="amount"
                    />
                </v-col>
            </v-row>
        </div>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';
import UserProp from '../common/UserProp';
export default {
    name: "ACCSSummary",
    components: {
        UserProp
    },
    data() {
        return {
            expandDetails: false
        }
    },
    computed: {
        ...mapGetters({
            applicant: 'slates/getModifiedApplicant',
            period: 'slates/getPeriod'
        }),
        amount() {
            return "$" + this.convertToCurrency(this.getPeriodRecommendedTotal(this.period));
        }
    }
}
</script>