<template>
  <v-dialog persistent :value="showAdd" width="400">
    <v-card light>
      <v-toolbar color="primary" dark flat dense>
        <v-card-title>Confirm Add</v-card-title>
      </v-toolbar>
      <v-card-text>
        Are you sure you want to add another buget period? <br /><br />
        Adding a budget period will copy the previous budget period.
      </v-card-text>
      <v-divider/>
      <v-card-actions>
        <v-btn color="warning" v-on:click="$emit('cancelAdd')">Cancel</v-btn>
        <v-spacer/>
        <v-btn color="success" v-on:click="$emit('duplicate')">Create Period</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "Add",
  props: ["showAdd"],
  data() {
    return {
        headers: [
            { text: 'Attribute', align: 'left', value: 'key' },
            { text: 'Original Value', align: 'left', value: 'original' },
            { text: 'Updated Value', align: 'left', value: 'updated' }
        ]
    }
  },
  computed: {}
}
</script>