<template>
    <section>
        <v-row dense>
            <v-col cols="12" sm="11">
            <h3>{{ $t('period.adminTitle') }}</h3>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense v-if="expandDetails">
            <v-row dense class="pa-0 ma-0">
                <v-col cols="12" sm="6">
                    <UserProp
                        v-bind:label="$t('period.costShare')"
                        v-bind:value="'No'"
                    />
                    <UserProp
                        v-bind:label="$t('period.costSharePercentage')"
                        v-bind:value="'10%'"
                    />
                    <UserProp
                        v-bind:label="$t('period.actualShare')"
                        v-bind:value="'10%'"
                    />
                </v-col>
                <v-col cols="12" sm="6">
                    <UserProp
                        v-bind:label="$t('period.costCap')"
                        v-bind:value="'Yes'"
                    />
                    <UserProp
                        v-bind:label="$t('period.costCapPercent')"
                        v-bind:value="'100%'"
                    />
                    <UserProp
                        v-bind:label="$t('period.actualAmount')"
                        v-bind:value="amount"
                    />
                </v-col>
            </v-row>
        </v-row>
    </section>
</template>

<script>
import UserProp from '../common/UserProp';
import { mapGetters } from 'vuex';
export default {
    name: "AdminTitle",
    components: {
        UserProp
    },
    data() {
        return {
            expandDetails: false
        }
    },
    computed: {
        ...mapGetters({
            period: 'slates/getPeriod'
        }),
        amount() {
            return "$" + this.convertToCurrency(this.getPeriodRecommendedTotal(this.period));
        }
    }
}
</script>