<template>
    <v-menu
        v-model="menu1"
        :close-on-content-click="false"
        max-width="290">
        <template v-slot:activator="{ on, attrs }">
            <v-text-field
                :value="computedDateFormattedMomentjs"
                readonly dense
                v-bind="attrs"
                outlined
                class="mt-3 override pb-3" 
                v-on="on"
                append-icon="mdi-calendar"
                hide-details
                :disabled="disabled"
            />
        </template>
        <v-date-picker
            :value="period.budgetPerdEndDate"
            @change="updateValue"
        />
    </v-menu>
</template>

<script>
import { mapGetters } from 'vuex';
import moment from 'moment/src/moment';
export default {
    name: "budgetEndDate",
    props: ["period"],
    components: {},
    data() {
        return {
            menu1: false
        }
    },
    methods: {
        updateValue(value) {
            this.menu1 = false;
            this.$emit("update", value, this.period.budgetPerdSeq);
        }
    },
    computed: {
        ...mapGetters({
            original: 'slates/getApplicant'
        }),
        disabled() {
            if(this.original.grantFundingStatusCd === "AP") return true;
            return false;
        },
        computedDateFormattedMomentjs () {
            return this.period.budgetPerdEndDate ? moment(this.period.budgetPerdEndDate).format('MM/DD/YYYY') : ''
        }
    }
}
</script>