<template>
    <UserDataInputText 
        v-bind:edit="disabled" 
        v-on:update="updateValue"
        v-bind:id="'budgetPerdFy'"
        v-bind:data="period"
        class="pb-3"
        v-bind:overrides="{ 'identifier': period.budgetPerdSeq }"
    />
</template>

<script>
import { mapGetters } from 'vuex';
import UserDataInputText from '../common/UserDataInputText';
export default {
    name: "BudgerYear",
    props: ["period"],
    components: {UserDataInputText},
    methods: {
        updateValue(key, value) {
            this.$emit("updateYear", value, this.period.budgetPerdSeq);
        }
    },
    computed: {
        ...mapGetters({
            original: 'slates/getApplicant'
        }),
        disabled() {
            if(this.original.grantFundingStatusCd === "AP") return true;
            return false;
        }
    }
}
</script>