<template>
    <section>
        <v-row dense>
            <v-col cols="12" sm="11">
            <h3>{{ $t('period.budgetDetails') }}</h3>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense v-if="expandDetails">
            <v-row dense>
                <v-col cols="12" sm="9">
                    <v-simple-table>
                        <thead><tr>
                            <th class="text-left">Budget Categories</th>
                            <th class="text-left">Federal Funding Requested</th>
                            <th class="text-left">
                                Recommended Amount 
                                <Tooltip 
                                    v-bind:text="'Copy Requested'"
                                    v-bind:icon="'mdi-content-copy'"
                                    v-bind:color="'warning'"
                                    v-on:action="copyRequested"
                                />
                            </th>
                            <th class="text-left">Non Federal Funds</th>
                        </tr></thead>
                        <tbody>
                            <BudgetData v-bind:obj="'personnel'" v-bind:period="period" v-on:updateValue="updateValue" />
                            <BudgetData v-bind:obj="'fringe'" v-bind:period="period" v-on:updateValue="updateValue" />
                            <BudgetData v-bind:obj="'travel'" v-bind:period="period" v-on:updateValue="updateValue" />
                            <BudgetData v-bind:obj="'equip'" v-bind:period="period" v-on:updateValue="updateValue" />
                            <BudgetData v-bind:obj="'supply'" v-bind:period="period" v-on:updateValue="updateValue" />
                            <BudgetData v-bind:obj="'contract'" v-bind:period="period" v-on:updateValue="updateValue" />
                            <BudgetData v-bind:obj="'construct'" v-bind:period="period" v-on:updateValue="updateValue" />
                            <BudgetData v-bind:obj="'other'" v-bind:period="period" v-on:updateValue="updateValue" />
                            <BudgetData v-bind:obj="'training'" v-bind:period="period" v-on:updateValue="updateValue" />
                            <BudgetData v-bind:obj="'indirect'" v-bind:period="period" v-on:updateValue="updateValue" />
                        </tbody>
                    </v-simple-table>
                    <br />
                    <v-divider />
                    <v-simple-table>
                        <thead><tr>
                            <th class="text-left">Total</th>
                            <th class="text-left">Federal Funding Requested</th>
                            <th class="text-left">Recommended Amount</th>
                            <th class="text-left">Non Federal Funds</th>
                        </tr></thead>
                        <tbody>
                            <tr>
                                <td style="font-weight: bold">Total Direct Costs</td>
                                <td>{{ totalReq }}</td>
                                <td>{{ totalRec }}</td>
                                <td>{{ totalNon }}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Total Indirect Costs</td>
                                <td>{{ totalIndReq }}</td>
                                <td>{{ totalIndRec }}</td>
                                <td>{{ totalIndNon }}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">Grand Total</td>
                                <td>{{ grandTotReq }}</td>
                                <td>{{ grandTotRec }}</td>
                                <td>{{ grandTotNon }}</td>
                            </tr>
                        </tbody>
                    </v-simple-table>
                </v-col>
                <v-col cols="12" sm="3">
                    <v-simple-table>
                        <thead><tr>
                            <th class="text-left" colspan="2">Administrative Information</th>
                        </tr></thead>
                        <tbody>
                            <tr><td style="font-weight: bold">Cost Share Required</td><td>No</td></tr>
                            <tr><td style="font-weight: bold">Cost Share Method</td><td></td></tr>
                            <tr><td style="font-weight: bold">Cost Share Option</td><td>Absolute</td></tr>
                            <tr><td style="font-weight: bold">Required Cost Share Rate</td><td>10%</td></tr>
                            <tr><td style="font-weight: bold">Bind To</td><td>Yes</td></tr>
                            <tr><td style="font-weight: bold">Adjusted Cost Share</td><td></td></tr>
                            <tr><td style="font-weight: bold">Admin Cost Cap</td><td>Yes</td></tr>
                            <tr><td style="font-weight: bold">Admin Cost Cap Rate</td><td>100%</td></tr>
                        </tbody>
                    </v-simple-table>
                    <br />
                    <v-divider />
                    <v-simple-table>
                        <thead><tr>
                            <th class="text-left" colspan="2">Computed Rates for this Period</th>
                        </tr></thead>
                        <tbody>
                            <tr><td style="font-weight: bold">Cost Share Rate</td><td>100%</td></tr>
                        </tbody>
                    </v-simple-table>
                    <br />
                    <v-divider />
                    <v-simple-table>
                        <thead><tr>
                            <th class="text-left" colspan="2">Indirect Costs</th>
                        </tr></thead>
                        <tbody>
                            <tr><td style="font-weight: bold">Program Indirect Cost Type</td><td>Training</td></tr>
                            <tr><td style="font-weight: bold">Project Indirect Cost Rate</td><td>75%</td></tr>
                        </tbody>
                    </v-simple-table>
                </v-col>
            </v-row>
        </v-row>
    </section>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import BudgetData from "../budget/BudgetData";
import Tooltip from "../common/Tooltip";
export default {
    name: "BudgetDetails",
    components: {
        BudgetData,
        Tooltip
    },
    data() {
        return {
            expandDetails: true
        }
    },
    methods: {
        ...mapMutations({
            updatePeriod: 'slates/updatePeriod'
        }),
        updateValue(key, value) {
            this.updatePeriod({ key: key, value: value });
        },
        copyRequested() {
            this.updatePeriod({ key: "personnelRecFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.personnelReqFedAmt)) });
            this.updatePeriod({ key: "personnelNonFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.personnelRecFedAmt) * .1) });
            this.updatePeriod({ key: "fringeRecFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.fringeReqFedAmt)) });
            this.updatePeriod({ key: "fringeNonFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.fringeRecFedAmt) * .1) });
            this.updatePeriod({ key: "travelRecFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.travelReqFedAmt)) });
            this.updatePeriod({ key: "travelNonFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.travelRecFedAmt) * .1) });
            this.updatePeriod({ key: "equipRecFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.equipReqFedAmt)) });
            this.updatePeriod({ key: "equipNonFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.equipRecFedAmt) * .1) });
            this.updatePeriod({ key: "supplyRecFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.supplyReqFedAmt)) });
            this.updatePeriod({ key: "supplyNonFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.supplyRecFedAmt) * .1) });
            this.updatePeriod({ key: "contractRecFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.contractReqFedAmt)) });
            this.updatePeriod({ key: "contractNonFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.contractRecFedAmt) * .1) });
            this.updatePeriod({ key: "constructRecFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.constructReqFedAmt)) });
            this.updatePeriod({ key: "constructNonFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.constructRecFedAmt) * .1) });
            this.updatePeriod({ key: "otherRecFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.otherReqFedAmt)) });
            this.updatePeriod({ key: "otherNonFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.otherRecFedAmt) * .1) });
            this.updatePeriod({ key: "trainingRecFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.trainingReqFedAmt)) });
            this.updatePeriod({ key: "trainingNonFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.trainingRecFedAmt) * .1) });
            this.updatePeriod({ key: "indirectRecFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.indirectReqFedAmt)) });
            this.updatePeriod({ key: "indirectNonFedAmt", value: this.convertToCurrency(this.convertToFloat(this.period.indirectRecFedAmt) * .1) });
        }
    },
    computed: {
        ...mapGetters({
            period: 'slates/getPeriod'
        }),
        totalReq() {
            return "$" + this.convertToCurrency(this.getPeriodRequestedTotal(this.period));
        },
        totalRec() {
            return "$" + this.convertToCurrency(this.getPeriodRecommendedTotal(this.period));
        },
        totalNon() {
            return "$" + this.convertToCurrency(this.getPeriodNonTotal(this.period));
        },
        totalIndReq() {
            return "$0.00"; 
        },
        totalIndRec() {
            return "$0.00"; 
        },
        totalIndNon() {
            return "$0.00"; 
        },
        grandTotReq() {
            return this.totalReq; 
        },
        grandTotRec() {
            return this.totalRec; 
        },
        grandTotNon() {
            return this.totalNon; 
        }
    }
}
</script>