<template>
    <section>
        <v-row dense>
            <v-col cols="12" sm="11">
            <h3>Budget Period Information</h3>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense v-if="expandDetails">
            <v-col cols="12" sm="12">
                <v-simple-table>
                    <thead><tr>
                        <th class="text-left">Budget Period Start Date</th>
                        <th class="text-left">Budget Period End Date</th>
                        <th class="text-left">Requested Amount</th>
                        <th class="text-left">Recommended Amount</th>
                        <th class="text-left">Supplement Amount</th>
                        <th class="text-left">Status</th>
                        <th class="text-left">Complete</th>
                    </tr></thead>
                    <tbody><tr>
                        <td>{{ convertDate(period.budgetPerdStartDate) }}</td>
                        <td>{{ convertDate(period.budgetPerdEndDate) }}</td>
                        <td>{{ requested }}</td>
                        <td>{{ recommended }}</td>
                        <td>{{ supplement }}</td>
                        <td>{{ status }}</td>
                        <td>{{ period.budgetPerdCompleteInd === "Y" ? "Yes" : "No" }}</td>
                    </tr></tbody>
                </v-simple-table>
            </v-col>
        </v-row>
    </section>
</template>

<script>
import moment from 'moment/src/moment';
import { mapGetters } from 'vuex';
import isEmpty from "lodash/isEmpty";
export default {
    name: "BudgetInformation",
    components: {
    },
    data() {
        return {
            expandDetails: true
        }
    },
    methods: {
        convertDate(date) {
            return moment(String(date)).format('MM/DD/YYYY');
        }
    },
    computed: {
        ...mapGetters({
        props: 'params/getProps',
            period: 'slates/getPeriod'
        }),
        requested() {
            return "$" + this.convertToCurrency(this.getPeriodRequestedTotal(this.period));
        },
        recommended() {
            return "$" + this.convertToCurrency(this.getPeriodRecommendedTotal(this.period));
        },
        supplement() {
            return "$" + this.convertToCurrency(this.getPeriodNonTotal(this.period));
        },
        status() {
            let prop = this.props["budgetStatusCd"];
            const obj = prop.data.filter( obj => obj.Key === this.period.budgetStatusCd );
            if (isEmpty(obj)) return "N/A";
            return obj[0].value;
        }
    }
}
</script>