<template>
    <tr>
        <td style="font-weight: bold">{{ $t('period.' + obj + '.label') }}</td>
        <td>
            <UserDataInputText 
                v-bind:edit="disabled" 
                v-on:update="updateValue"
                v-bind:id="obj + 'ReqFedAmt'"
                v-bind:data="period"
                class="pb-3"
            />
        </td>
        <td>
            <UserDataInputText 
                v-bind:edit="disabled" 
                v-on:update="updateRecommended"
                v-bind:id="obj + 'RecFedAmt'"
                v-bind:data="period"
                class="pb-3"
            />
        </td>
        <td>
            <UserDataInputText 
                v-bind:edit="disabled" 
                v-on:update="updateValue"
                v-bind:id="obj + 'NonFedAmt'"
                v-bind:data="period"
                class="pb-3"
            />
        </td>
    </tr>
</template>

<script>
import { mapGetters } from 'vuex';
import UserDataInputText from '../common/UserDataInputText';
export default {
    name: "BudgetData",
    props: ["obj", "period"],
    components: {
        UserDataInputText
    },
    methods: {
        updateRecommended(key, value) {
            this.$emit("updateValue", key, value);
            this.$emit("updateValue", this.obj + 'NonFedAmt', this.convertToCurrency(this.convertToFloat(value) * .1));
        },
        updateValue(key, value) {
            this.$emit("updateValue", key, value);
        }
    },
    computed: {
        ...mapGetters({
            original: 'slates/getApplicant'
        }),
        disabled() {
            if(this.original.grantFundingStatusCd === "AP") return true;
            return false;
        }
    }
}
</script>