<template>
  <v-dialog persistent :value="completeOverlay" width="400">
    <v-card light>
      <v-toolbar color="primary" dark flat dense>
        <v-card-title>Confirm Complete</v-card-title>
      </v-toolbar>
      <v-card-text>
        Are you sure you want to complete this budget period? <br /><br />
      </v-card-text>
      <v-divider/>
      <v-card-actions>
        <v-btn color="warning" style="color:black" v-on:click="$emit('cancel')">Cancel</v-btn>
        <v-spacer/>
        <v-btn color="success" v-on:click="$emit('confirmComplete')">Confirm Complete</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ConfirmComplete",
  props: ["completeOverlay"],
  data() {
    return {}
  },
  computed: {}
}
</script>