<template>
  <v-dialog persistent :value="editOverlay">
    <v-card light>
      <v-toolbar color="primary" dark flat dense>
        <v-card-title>Edit Personnel Information</v-card-title>
      </v-toolbar>
      <v-card-text>
        <v-row dense>
          <v-col dense cols="12" sm="5">
            <UserDataInputText 
                v-bind:edit="false" 
                v-on:update="updateValue"
                v-bind:id="'firstName'"
                v-bind:data="person"
            />
          </v-col>
          <v-col dense cols="12" sm="2">
            <UserDataInputText 
                v-bind:edit="false" 
                v-on:update="updateValue"
                v-bind:id="'middleInitial'"
                v-bind:data="person"
            />
          </v-col>
          <v-col dense cols="12" sm="5">
            <UserDataInputText 
                v-bind:edit="false" 
                v-on:update="updateValue"
                v-bind:id="'lastName'"
                v-bind:data="person"
            />
          </v-col>
        </v-row>
        <v-row dense>
          <v-col dense cols="12" sm="6">
            <UserDataInputText 
                v-bind:edit="false" 
                v-on:update="updateValue"
                v-bind:id="'phoneNumber'"
                v-bind:data="person"
            />
          </v-col>
          <v-col dense cols="12" sm="6">
            <UserDataInputText 
                v-bind:edit="false" 
                v-on:update="updateValue"
                v-bind:id="'email'"
                v-bind:data="person"
            />
          </v-col>
        </v-row>
        <v-row dense>
          <v-col dense cols="12" sm="8">
            <UserDataDropDown 
                v-bind:edit="false" 
                v-on:update="updateValue"
                v-bind:id="'keyPersonnelTitleCd'"
                v-bind:data="person"
            />
          </v-col>
          <v-col dense cols="12" sm="4">
            <UserDataInputText 
                v-bind:edit="false" 
                v-on:update="updateValue"
                v-bind:id="'levelOfEffort'"
                v-bind:data="person"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider/>
      <v-card-actions>
        <v-btn color="warning" v-on:click="$emit('cancel')">Cancel</v-btn>
        <v-spacer/>
        <v-btn color="success" v-on:click="addPersonnel">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import UserDataInputText from "../common/UserDataInputText";
import UserDataDropDown from "../common/UserDataDropDown";
export default {
  name: "AddPersonnel",
  props: ["editOverlay", "person"],
  components: {
    UserDataInputText,
    UserDataDropDown
  },
  data() {
    return {}
  },
  methods: {
    updateValue(key, value) {
      this.person[key] = value;
    },
    addPersonnel() {
      this.$emit("edit", this.person);
    }
  }
}
</script>