<template>
  <v-dialog persistent :value="showNew" width="400">
    <v-card light>
      <v-toolbar color="primary" dark flat dense>
        <v-card-title>Confirm New Period</v-card-title>
      </v-toolbar>
      <v-card-text>
        Enter the Start Date:
        <BudgetStartDate v-bind:period="period" v-on:update="updateDate" />
      </v-card-text>
      <v-divider/>
      <v-card-actions>
        <v-btn color="warning" style="color:black" v-on:click="$emit('cancelNew')">Cancel</v-btn>
        <v-spacer/>
        <v-btn color="success" v-on:click="$emit('addNew')">New Period</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import BudgetStartDate from './BudgetStartDate';
export default {
  name: "New",
  props: ["showNew", "period"],
    components: {
        BudgetStartDate
    },
  data() {
    return {}
  },
  methods: {
    updateDate(value) {
      this.$emit("updateStartDate", value);
    }
  }
}
</script>