<template>
    <section>
        <v-row dense>
            <v-col cols="12" sm="11">
            <h3>{{ $t('period.participantInfo') }}</h3>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense v-if="expandDetails">
            <v-row dense class="pa-0 ma-0">
                <v-col cols="12" sm="8">
                    <UserProp
                        v-bind:label="$t('period.currentParticipant')"
                        v-bind:value="period.currentParticipant"
                    />
                </v-col>
            </v-row>
        </v-row>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';
import UserProp from '../common/UserProp';
export default {
    name: "ParticipantInformation",
    components: {
        UserProp
    },
    data() {
        return {
            expandDetails: false
        }
    },
    computed: {
        ...mapGetters({
            period: 'slates/getPeriod'
        }),
    }
}
</script>