<template>
    <section>
        <v-row dense>
            <v-col cols="12" sm="11">
            <h3>{{ $t('budget.peformanceTitle') }}</h3>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense v-if="expandDetails">
            <v-row dense>
                <v-col cols="12" sm="6">
                    <UserProp
                        v-bind:label="$t('budget.startDate')"
                        v-bind:value="budget.startDate"
                    />
                    <UserProp
                        v-bind:label="$t('budget.months')"
                        v-bind:value="budget.months"
                    />
                    <UserProp
                        v-bind:label="$t('budget.maxEndDate')"
                        v-bind:value="budget.maxEndDate"
                    />
                </v-col>
                <v-col cols="12" sm="6">
                    <UserProp
                        v-bind:label="$t('budget.endDate')"
                        v-bind:value="budget.endDate"
                    />
                    <UserProp
                        v-bind:label="$t('budget.maxMonths')"
                        v-bind:value="budget.maxMonths"
                    />
                </v-col>
            </v-row>
        </v-row>
    </section>
</template>

<script>
import UserProp from '../common/UserProp';
export default {
    name: "Performance",
    props: ["period"],
    components: {
        UserProp
    },
    data() {
        return {
            expandDetails: true
        }
    }
}
</script>