<template>
    <section>
        <div>
            <v-row dense>
                <v-col cols="12" sm="9" dense>
                    <v-tabs v-model="tab">
                        <v-tab>Budget Information</v-tab>
                        <v-tab>Budget Details</v-tab>
                        <v-tab>Key Personnel</v-tab>
                    </v-tabs>
                </v-col>
                <v-col cols="12" sm="3" dense>
                    <UserDataDropDown
                        v-bind:edit="false" 
                        v-on:update="updatePeriod"
                        v-bind:id="'currentlySelectedBudget'"
                        v-bind:data="budgetPeriod"
                        v-bind:overrides="{ data: periods }"
                    />
                </v-col>
            </v-row>
            <v-tabs-items v-model="tab">
                <v-tab-item key="0">
                    <BudgetInformation />
                    <ParticipantInformation />
                    <ACCSSummary />
                    <FapiisInformation />
                    <AdminTitle />
                </v-tab-item>
                <v-tab-item key="1">
                    <BudgetDetails />
                </v-tab-item>
                <v-tab-item key="2">
                    <Personnel v-on:save="$emit('save')" />
                </v-tab-item>
            </v-tabs-items>
            <v-card-actions>
                <v-btn color="primary" v-on:click="$emit('return')">Return to Budget Overview</v-btn>
                <v-spacer />
                <v-btn :class="tab == 2 ? 'mr-10' : ''" v-if="tab > 0" color="primary" v-on:click="tab--">Back</v-btn>
                <v-btn class="mr-10" v-if="tab < 2" color="primary" v-on:click="tab++">Next</v-btn>
                <v-btn color="success" v-if="showComplete" :disabled="disableComplete" v-on:click="completePeriod">Complete & Save</v-btn>
                <v-btn color="success" v-on:click="$emit('save')">Save</v-btn>
            </v-card-actions>
        </div>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';
import BudgetInformation from './BudgetInformation';
import ParticipantInformation from './ParticipantInformation';
import FapiisInformation from './FapiisInformation';
import ACCSSummary from './ACCSSummary';
import BudgetDetails from './BudgetDetails';
import Personnel from './Personnel';
import AdminTitle from './AdminTitle';
import UserDataDropDown from '../common/UserDataDropDown';
import isEmpty from 'lodash/isEmpty';
export default {
    name: "Period",
    components: {
        BudgetInformation,
        ParticipantInformation,
        FapiisInformation,
        ACCSSummary,
        BudgetDetails,
        Personnel,
        AdminTitle,
        UserDataDropDown
    },
    data() {
        return {
            tab: 0,
            loading: false,
            budgetPeriod: { currentlySelectedBudget: 1 },
            showSuccess: false,
            showFailure: false
        }
    },
    methods: {
        navigateToApp(item) {
            this.$router.push({ path: "/application/" + item.awardNo });
        },
        navigateToAbstract() {
            this.$router.push({ path: "/abstract/" + this.application.awardNo });
        },
        updatePeriod(key, value) {
            this.$emit("changePeriod", value);
        },
        completePeriod() {
            this.$emit("completePeriod");
        }
    },
    computed: {
        ...mapGetters({
            applicant: 'slates/getModifiedApplicant',
            original: 'slates/getApplicant',
            period: 'slates/getPeriod'
        }),
        periods() {
            let periods = [];
            for(let i=0; i < this.applicant.budgetEntities.length; i++) {
                periods.push({Key: i+1, value: i+1});
            }
            return periods;
        },
        disableComplete() {
            if (this.period.budgetPerdSeq !== 1) return true;
            if (this.period.fapiisCertificateInd != 'Y') return true;
            if (this.period.samCertificateInd != 'Y') return true;
            if (isEmpty(this.period.keyPersonnelInfoEntities)) return true;
            if (isEmpty(this.period.keyPersonnelInfoEntities.filter( personnel => personnel.keyPersonnelTitleCd === "01" ))) return true;
            if (this.period.budgetPerdFy === undefined || this.period.budgetPerdFy === '') return true;
            if (this.period.budgetPerdStartDate === undefined || this.period.budgetPerdStartDate === '') return true;
            if (this.period.budgetPerdEndDate === undefined || this.period.budgetPerdEndDate === '') return true;
            return false;
        },
        showComplete() {
            if (this.period.budgetPerdSeq === 1) return true;
            return false;
        },
        disabled() {
            if(this.original.grantFundingStatusCd === "AP") return true;
            return false;
        }
    },
    created() {
        this.budgetPeriod.currentlySelectedBudget = this.period.budgetPerdSeq;
    }
}
</script>