<template>
    <section>
        <SamCertification />
        <AddPersonnel v-bind:addOverlay="addOverlay" v-on:add="add" v-on:cancel="addOverlay = false"/>
        <RemovePersonnel v-bind:removeOverlay="removeOverlay" v-on:confirmRemove="confirmRemove" v-on:cancel="removeOverlay = false" />
        <EditPersonnel v-bind:editOverlay="editOverlay" v-on:edit="edit" v-bind:person="selected" v-on:cancel="editOverlay = false"/>
        <v-row dense>
            <v-col cols="12" sm="11">
            <h3>{{ $t('period.keyPersonnel') }}</h3>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense v-if="expandDetails">
            <v-col cols="12" sm="12">
                <v-data-table
                    :headers="headers"
                    :items="period.keyPersonnelInfoEntities"
                    item-key="keyPersonnelId" dense
                    no-data-text="There are no Personnel.">
                    <template v-slot:item.keyPersonnelTitleCd="{ item }">
                        {{ getTitle(item) }}
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-chip
                            v-if="!disabled"
                            class="ma-2"
                            color="primary"
                            text-color="white"
                            v-on:click="editPersonnel(item)">
                            Edit
                            <v-icon right>
                                mdi-pencil-circle
                            </v-icon>
                        </v-chip>
                        <v-chip
                            v-if="!disabled"
                            class="ma-2"
                            close
                            color="error"
                            text-color="white"
                            v-on:click="removePersonnel(item)">
                            Remove
                        </v-chip>
                    </template>
                </v-data-table>
                <div class="table-footer-prepend">
                    <v-chip
                        v-if="!disabled"
                        class="ma-2"
                        color="success"
                        text-color="white"
                        v-on:click="appPersonnel()">
                        Add Personnel
                        <v-icon right>
                            mdi-plus-circle
                        </v-icon>
                    </v-chip>
                </div>
            </v-col>
        </v-row>
    </section>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import isEqual from "lodash/isEqual";
import SamCertification from "./SamCertification";
import AddPersonnel from "./AddPersonnel";
import EditPersonnel from "./EditPersonnel";
import RemovePersonnel from "./RemovePersonnel";
import cloneDeep from "lodash/cloneDeep";
export default {
    name: "KeyPersonnel",
    components: {
        SamCertification,
        AddPersonnel,
        EditPersonnel,
        RemovePersonnel
    },
    data() {
        return {
            expandDetails: true,
            addOverlay: false,
            editOverlay: false,
            removeOverlay: false,
            selected: {},
            headers: [
                { text: this.$i18n.t('period.firstName'), align: 'left', value: 'firstName', sortable: false },
                { text: this.$i18n.t('period.lastName'), align: 'left', value: 'lastName', sortable: false },
                { text: this.$i18n.t('period.middleInitial'), align: 'left', value: 'middleInitial', sortable: false },
                { text: this.$i18n.t('period.title'), align: 'left', value: 'keyPersonnelTitleCd', sortable: false },
                { text: this.$i18n.t('period.loe'), align: 'left', value: 'levelOfEffort', sortable: false },
                { text: this.$i18n.t('global.actions'), align: 'left', value: 'actions', sortable: false, width: "240" },
            ]
        }
    },
    methods: {
        ...mapMutations({
            updatePeriod: 'slates/updatePeriod'
        }),
        appPersonnel() {
            this.addOverlay = true;
        },
        add(person) {
            let personnel = cloneDeep(this.period.keyPersonnelInfoEntities);
            personnel.push(person);
            this.updatePeriod({ key: "keyPersonnelInfoEntities", value: personnel });
            this.addOverlay = false;
            this.$emit("save");
        },
        editPersonnel(item) {
            this.selected = item;
            this.editOverlay = true;
        },
        edit(person) {
            let personnel = cloneDeep(this.period.keyPersonnelInfoEntities);
            let objToEdit = -1;
            for(let i=0;i<personnel.length;i++) {
                if(personnel[i].keyPersonnelId === person.keyPersonnelId) {
                    objToEdit = i;
                }
            }
            if (objToEdit >=0) {
                personnel[objToEdit] = person;
            }
            this.updatePeriod({ key: "keyPersonnelInfoEntities", value: personnel });
            this.editOverlay = false;
            this.$emit("save");
        },
        removePersonnel(item) {
            this.selected = item;
            this.removeOverlay = true;
        },
        confirmRemove() {
            let personnel = cloneDeep(this.period.keyPersonnelInfoEntities);
            let objToRemove = -1;
            for(let i=0;i<personnel.length;i++) {
                if(personnel[i].keyPersonnelId === this.selected.keyPersonnelId) {
                    objToRemove = i;
                }
            }
            if (objToRemove >=0) {
                personnel.splice(objToRemove, 1);
            }
            this.removeOverlay = false;
            this.updatePeriod({ key: "keyPersonnelInfoEntities", value: personnel });
            this.$emit("save");
        },
        getTitle(personnel) {
            let value = "N/A";
            const options = this.props['keyPersonnelTitleCd'];
            options.data.forEach( opt => {
                if (isEqual(opt.Key, personnel.keyPersonnelTitleCd)) {
                    value = opt.value;
                }
            })
            return value;
        }
    },
    computed: {
        ...mapGetters({
            props: 'params/getProps',
            original: 'slates/getApplicant',
            period: 'slates/getPeriod'
        }),
        disabled() {
            if(this.original.grantFundingStatusCd === "AP") return true;
            return false;
        }
    }
}
</script>