<template>
  <v-dialog persistent :value="showRemove" width="400">
    <v-card light>
      <v-toolbar color="primary" dark flat dense>
        <v-card-title>Confirm Remove</v-card-title>
      </v-toolbar>
      <v-card-text>
        Are you sure you want to remove the budget period? <br /><br />
      </v-card-text>
      <v-divider/>
      <v-card-actions>
        <v-btn color="warning" style="color:black" v-on:click="$emit('cancelRemove')">Cancel</v-btn>
        <v-spacer/>
        <v-btn color="success" v-on:click="$emit('confirmRemove')">Confirm Remove</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "Remove",
  props: ["showRemove"],
  data() {
    return {}
  },
  computed: {}
}
</script>