<template>
    <section>
        <v-row dense>
            <v-col cols="12" sm="11">
                <v-row dense>
                    <v-col cols="12" sm="4">
                        <h3>{{ $t('period.SAMCertification') }}</h3>
                    </v-col>
                    <v-col cols="12" sm="4">
                        <h3> {{ $t('period.certificationComplete') }}: {{ period.samCertificateInd === "Y" ? "Yes" : "No" }}</h3>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense v-if="expandDetails">
            <v-col cols="12">
                <h4>{{ period.FapiisInformation }}</h4>
                <p class="pt-5">
                    I certify that I have checked the "List of Parties" for the Application Name, Authorized Representative, and all Key Personnel listed.
                </p>
                <br />
                <v-card-actions class="mb-5">
                    <v-btn text color="primary">{{ $t('period.GSAWebsite') }}</v-btn>
                    <v-spacer />
                    <v-btn :disabled="period.samCertificateInd === 'N' || disabled" color="error" v-on:click="decertify">No</v-btn>
                    <v-btn :disabled="period.samCertificateInd === 'Y' || disabled" color="success" v-on:click="certify">Yes</v-btn>
                </v-card-actions>
            </v-col>
        </v-row>
    </section>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
export default {
    name: "SamInformation",
    components: {},
    data() {
        return {
            expandDetails: false
        }
    },
    methods: {
        ...mapMutations({
            updatePeriod: 'slates/updatePeriod'
        }),
        certify() {
            this.updatePeriod({ key: "samCertificateInd", value: "Y" });
        },
        decertify() {
            this.updatePeriod({ key: "samCertificateInd", value: "N" });
        }
    },
    computed: {
        ...mapGetters({
            original: 'slates/getApplicant',
            period: 'slates/getPeriod'
        }),
        disabled() {
            if(this.original.grantFundingStatusCd === "AP") return true;
            return false;
        }
    }
}
</script>