<template>
  <v-col v-if="loading" col="12" class="pt-0 mt-0">
    <v-overlay>
      Please wait...<br />
      <v-progress-circular :size="70" :width="7" indeterminate color="primary"/>
    </v-overlay>
  </v-col>
</template>


<script>
export default {
  name: 'Loading',
  props: ["loading", "noSkeleton"],
}
</script>