<template>
  <v-footer color="primary" dark dense class="pa-0">
    <v-container fluid dense class="pa-0">
      <v-row dense>
        <v-col class="text-left" cols="12" sm="8" dense>
          <v-btn text>FOIA</v-btn>
          <v-btn text>Privacy</v-btn>
          <v-btn text>Security</v-btn>
          <v-btn text>Keyboard Tips</v-btn>
          <v-btn text>Notices</v-btn>
        </v-col>
        <v-col class="text-center" cols="12" offset-sm="1" sm="3" dense>
          <h6> &#169; {{ $t('global.copyright') }}</h6>
          <h6>{{ $t('global.address') }}</h6>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',
  methods: {}
}
</script>