<template>
  <v-app-bar app color="primary" dense flat dark>
    <span aria-label="ED.gov" class="pr-5"><strong>ED</strong>.gov </span>| <v-btn text color="white">G5...Next Level</v-btn>
    <v-spacer />
  </v-app-bar>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: "Header",
  components: {},
  data: () => {
    return {
      selected: undefined,
    }
  },
  methods: {
    changeLocale(language) {
      this.$i18n.locale = language;
    }
  },
  computed: {
    ...mapGetters({}), 
    locale() {
      return this.$i18n.locale;
    }
  }
}
</script>