<template>
    <section>
        <Loading v-bind:loading="loading" />
        <div>
            <v-alert dense text type="success" v-model="showSuccess" dismissible>
                Your changes have been completed successfully
            </v-alert>
            <v-alert dense text type="error" v-model="showFailure" dismissible>
                There was an problem processing your request.  Please try again later.
            </v-alert>
            <Selected 
                v-bind:abstract="applicant.abstractEntities" 
                v-on:apiCall="apiCall" 
                v-on:updateAbstract="updateAbstract" 
                v-on:failure="failure"
            />
            <Narrative 
                v-bind:abstract="applicant.abstractEntities" 
                v-on:updateAbstract="updateAbstract" 
                v-on:apiCall="apiCall" 
                v-on:failure="failure"
            />
            <Upload v-bind:abstract="applicant.abstractEntities" />
        </div>
    </section>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import Selected from '../components/abstract/Selected';
import Narrative from '../components/abstract/Narrative';
import Upload from '../components/abstract/Upload';
import Loading from '../components/response-objects/Loading';
export default {
    name: "Abstract",
    components: {
        Selected,
        Narrative,
        Upload,
        Loading
    },
    data() {
        return {
            loading: false,
            showSuccess: false,
            showFailure: false,
            showComplete: false,
            showIncomplete: false
        }
    },
    methods: {
        ...mapMutations({
            getApplicant: 'slates/getApplicant',
            updateApplicant: 'slates/updateApplicant',
            updateOriginal: 'slates/updateOriginal',
            setModifiedApplicant: 'slates/setModifiedApplicant',
            setApplicant: 'slates/setApplicant'
        }),
        ...mapActions({
            getNarratives: 'slates/getNarratives',
            updateApplication: 'slates/updateApplication'
        }),
        apiCall() {
            this.showSuccess = false;
            this.showFailure = false;
            this.loading = true;
        },
        async updateAbstract(abstract) {
            this.loading = false;
            this.showSuccess = true;
            let abs = [];
            if (abstract !== undefined) {
                abs.push(abstract);
                this.updateApplicant({key: "abstractCompleteInd", value: "Y"});
            } else {
                this.updateApplicant({key: "abstractCompleteInd", value: "N"});
            }
            await this.confirmChanges();
            this.$forceUpdate();
        },
        failure() {
            this.loading = false;
            this.showFailure = true;
        },
        async confirmChanges() {
            this.loading = true;
            try {
                await this.updateApplication(this.applicant);
                await this.getApplicantDetails();
                this.showSuccess = true;
            } catch(err) {
                this.errors = err;
                this.showFailure = true;
            }
            this.loading = false
        },
        async getApplicantDetails() {
            this.loading = true;
            try {
                await this.getApplicant(this.$route.params.id);
            } catch(err) {
                console.log("Error: " + err);
            }
            this.loading = false;
        }
    },
    computed: {
        ...mapGetters({
            applicant: 'slates/getModifiedApplicant'
        })
    },
    created() {
        try {
            this.getNarratives();
        } catch(err) {
            console.log(err);
        }
    }
}
</script>