<template>
    <v-form ref="appForm" v-model="valid">
        <Changes 
            v-bind:showChanges="showChanges"
            v-bind:changes="changes"
            v-on:cancelChanges="showChanges = false" 
            v-on:confirmChanges="confirmChanges" 
        />
        <Loading v-bind:loading="loading" />
        <v-alert dense text type="success" v-model="showSuccess" dismissible>
            Your changes have been completed successfully
        </v-alert>
        <v-alert dense text type="error" v-model="showFailure" dismissible>
            There was an problem processing your request.  Please try again later.
        </v-alert>
        <v-row dense>
            <v-col cols="12" sm="11">
            <h3>{{ $t('application.title') }}</h3>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandContent = !expandContent">
                    {{ expandContent ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense v-if="expandContent">
            <v-col cols="12" sm="4">
                <v-row dense>
                    <v-col cols="12" sm="7">
                        {{ $t('application.narrative.label') }}
                    </v-col>
                    <v-col cols="12" sm="1">
                        <v-checkbox 
                            dense class="pa-0 ma-0"
                            v-model="applicant.narrativeReceivedInd" 
                            hide-details 
                            true-value="Y"
                            false-value="N"
                            :disabled="disabled"
                        />
                    </v-col>
                </v-row>
                <v-row dense>
                    <v-col cols="12" sm="7">
                        {{ $t('application.appComplete.label') }}
                    </v-col>
                    <v-col cols="12" sm="1">
                        <v-checkbox 
                            dense class="pa-0 ma-0" 
                            v-model="applicant.applicationCompleteInd"
                            hide-details 
                            true-value="Y"
                            false-value="N"
                            :disabled="disabled"
                        />
                    </v-col>
                </v-row>
                <v-row dense>
                    <v-col cols="12" sm="7">
                        {{ $t('application.appLate.label') }}
                    </v-col>
                    <v-col cols="12" sm="5">
                        {{ applicant.lateInd === "y" ? "Yes" : "No" }}
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="12" sm="8">
                <UserDataTextArea
                    class="pt-1"
                    v-bind:edit="disabled" 
                    v-on:update="updateValue"
                    v-bind:id="'applicationComment'"
                    v-bind:data="applicant"
                />
            </v-col>
        </v-row>
        <v-row dense v-if="expandContent">
            <v-col cols="12" sm="4">
                <v-row dense>
                    <v-col cols="12" sm="7">
                        {{ $t('application.appDuplicate.label') }}
                    </v-col>
                    <v-col cols="12" sm="5">
                        {{ applicant.duplicateInd === "y" ? "Yes" : "No" }}
                    </v-col>
                    <v-col cols="12" sm="7">
                        {{ $t('application.dupConfirmed.label') }}?
                    </v-col>
                    <v-col cols="12" sm="1">
                        <v-checkbox 
                            dense class="pa-0 ma-0" 
                            v-model="applicant.dupConfirmed"
                            hide-details 
                            true-value="Y"
                            false-value="N"
                            :disabled="disabled"
                        />
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="12" sm="8">
                <UserDataInputText
                    v-bind:edit="disabled" 
                    v-on:update="updateValue"
                    v-bind:id="'duplicateAward'"
                    v-bind:data="applicant"
                />
            </v-col>
        </v-row>
        <v-row dense v-if="expandContent">
            <v-col cols="12" sm="3">
                <UserDataDropDown 
                    v-bind:edit="disabled" 
                    v-on:update="updateValue"
                    v-bind:id="'eligibleStatusCd'"
                    v-bind:data="applicant"
                />
            </v-col>
            <v-col cols="12" offset-sm="1" sm="8" v-if="showDetails">
                <UserDataDropDown
                    v-bind:edit="disabled" 
                    v-on:update="updateValue"
                    v-bind:id="'ineligibleCatCd'"
                    v-bind:data="applicant"
                />
                <UserDataTextArea
                    class="pt-1"
                    v-bind:edit="disabled" 
                    v-on:update="updateValue"
                    v-bind:id="'eligibilityStatusCmt'"
                    v-bind:data="applicant"
                />
            </v-col>
        </v-row>
        <v-divider />
        <v-card-actions class="pb-0 mb-0">
            <v-spacer />
            <v-btn color="success" :disabled="disabled" v-on:click="savePage">Save Application</v-btn>
        </v-card-actions>
    </v-form>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';
import UserDataTextArea from '../components/common/UserDataTextArea';
import UserDataInputText from '../components/common/UserDataInputText';
import UserDataDropDown from '../components/common/UserDataDropDown';
import Changes from '../components/applicant/Changes';
import Loading from '../components/response-objects/Loading';
export default {
    name: "Application",
    components: {
        UserDataTextArea,
        UserDataInputText,
        UserDataDropDown,
        Changes,
        Loading
    },
    data() {
        return {
            expandContent: true,
            loading: false,
            showSuccess: false,
            showFailure: false,
            showChanges: false,
            showComplete: false,
            showIncomplete: false,
            valid: false,
            changes: {}
        }
    },
    methods: {
        ...mapActions({
            getApplicant: 'slates/getApplicant',
            updateApplication: 'slates/updateApplication'
        }),
        ...mapMutations({
            setModifiedApplicant: 'slates/setModifiedApplicant',
            updateApplicant: 'slates/setApplicant',
            updateModifiedApplicant: 'slates/updateApplicant',
            updateOriginal: 'slates/updateOriginal'
        }),
        updateValue(key, value) {
            if ( key === "eligibleStatusCd") {
                this.updateModifiedApplicant({ key: "ineligibleCatCd", value: undefined });
                this.updateModifiedApplicant({ key: "eligibilityStatusCmt", value: undefined });    
            }
            this.updateModifiedApplicant({key, value});
        },
        savePage() {
            if (this.$refs.appForm.validate()) {
                this.showSuccess = false;
                this.showFailure = false;
                this.changes = this.difference(this.original, this.applicant);
                this.showChanges = true;
            }
        },
        async confirmChanges() {
            this.showChanges = false;
            this.loading = true;
            try {
                await this.updateApplication(this.applicant);
                await this.getApplicantDetails();
                this.showSuccess = true;
            } catch(err) {
                this.errors = err;
                this.showFailure = true;
            }
            this.loading = false
        },
        async getApplicantDetails() {
            this.loading = true;
            try {
                await this.getApplicant(this.$route.params.id);
            } catch(err) {
                console.log("Error: " + err);
            }
            this.loading = false;
        }
    },
    computed: {
        ...mapGetters({
            applicant: 'slates/getModifiedApplicant',
            original: 'slates/getApplicant',
        }),
        showDetails() {
            if(this.applicant.eligibleStatusCd === 'IE') return true;
            return false;
        },
        hideComplete() {
            if (this.original.applicationCompleteInd === "Y") return true;
            return false;
        },
        disableComplete() {
            if (this.applicant.applicationCompleteInd === "N") return true;
            if (this.applicant.narrativeReceivedInd === "N") return true;
            if (this.applicant.eligibleStatusCd !== "EL") return true;
            return false;
        },
        disabled() {
            if(this.original.grantFundingStatusCd === "AP") return true;
            return false;
        }
    }
}
</script>