<template>
    <section>
        <Loading v-bind:loading="loading" />
        <v-card class="mb-5" v-if="!loading">
            <v-toolbar color="primary" dense dark flat>
            <v-card-title>{{ currentStep }}</v-card-title>
            </v-toolbar>
            <v-card-text class="pa-0 ma-0">
                <v-stepper v-model="stepper" v-on:change="changeStep" :alt-labels=true>
                    <v-stepper-header>
                        <v-stepper-step :complete=true step="1" :editable=false>{{ $t('applicant.steps.received') }}</v-stepper-step>
                        <v-divider />
                        <v-stepper-step :complete="applicationComplete" step="2" :editable=true>{{ $t('applicant.steps.application') }}</v-stepper-step>
                        <v-divider />
                        <v-stepper-step :complete="budgetComplete" step="3" :editable=true>{{ $t('applicant.steps.budget') }}</v-stepper-step>
                        <v-divider />
                        <v-stepper-step :complete="abstractComplete" step="4" :editable=true>{{ $t('applicant.steps.abstract') }}</v-stepper-step>
                        <v-divider />
                        <v-stepper-step :complete="completed" step="5" :editable=false>{{ $t('applicant.steps.completed') }}</v-stepper-step>
                    </v-stepper-header>
                </v-stepper>
            </v-card-text>
        </v-card>
        <v-card class="pt-0 mt-0" v-if="!loading">
            <v-card-text class="pt-0 pb-0">
                <v-row dense>
                    <v-col cols="12" sm="3">
                    <h3 class="pt-2">{{ $t('applicant.title') }}</h3>
                    </v-col>
                    <v-col cols="12" sm="9" style="text-align: right">
                        <v-chip
                            small class="ma-2"
                            :color="showDetails ? 'warning' : 'primary'"
                            text-color="white"
                            v-on:click="showDetails = !showDetails">
                            {{ showDetails ? 'Hide ' + $t('applicant.applicantInfo') : 'Show ' + $t('applicant.applicantInfo') }}
                            <v-icon right>
                                {{ showDetails ? 'mdi-eye-off' : 'mdi-eye' }}
                            </v-icon>
                        </v-chip>
                        <v-chip
                            small class="ma-2"
                            :color="showPerformance ? 'warning' : 'primary'"
                            text-color="white"
                            v-on:click="showPerformance = !showPerformance">
                            {{ showPerformance ? 'Hide ' + $t('budget.peformanceTitle') : 'Show ' + $t('budget.peformanceTitle') }}
                            <v-icon right>
                                {{ showPerformance ? 'mdi-eye-off' : 'mdi-eye' }}
                            </v-icon>
                        </v-chip>
                        <v-chip
                            small class="ma-2"
                            :color="showProject ? 'warning' : 'primary'"
                            text-color="white"
                            v-on:click="showProject = !showProject">
                            {{ showProject ? 'Hide ' + $t('project.title') : 'Show ' + $t('project.title') }}
                            <v-icon right>
                                {{ showProject ? 'mdi-eye-off' : 'mdi-eye' }}
                            </v-icon>
                        </v-chip>
                    </v-col>
                </v-row>
                <div>
                    <v-divider class="pb-5" v-if="showDetails || showPerformance || showProject" />
                    <Details class="ml-5 mr-5" v-if="showDetails" />
                    <Performance class="ml-5 mr-5" v-if="showPerformance" />
                    <Project class="ml-5 mr-5" v-if="showProject" />
                </div>
            </v-card-text>
        </v-card>
        <v-card class="mt-5 mb-5" v-if="!loading">
            <v-card-text class="pt-0">
                <router-view class="pt-5" />
            </v-card-text>
        </v-card>
        <v-card class="mb-5" v-if="!loading">
            <v-card-actions>
                <v-btn color="warning" v-on:click="returnToSlates">{{ $t('global.return') }}</v-btn>
                <v-spacer />
                <v-btn color="primary" v-if="stepper=='4' || stepper=='3'" v-on:click="back">Back</v-btn>
                <v-btn color="primary" v-if="stepper=='2' || stepper=='3'" v-on:click="next">Next</v-btn>
            </v-card-actions>
        </v-card>
    </section>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';
import Loading from '../components/response-objects/Loading';
import includes from 'lodash/includes';
import Details from '../components/applicant/Details';
import Performance from '../components/applicant/Performance';
import Project from '../components/applicant/Project';
import isEmpty from 'lodash/isEmpty';
export default {
    name: "Applicant",
    components: {
        Loading,
        Details,
        Project,
        Performance
    },
    data() {
        return {
            loading: false,
            showDetails: true,
            showPerformance: false,
            showProject: false,
            changes: {},
            stepper: "1"
        }
    },
    methods: {
        ...mapActions({
            getApplicant: 'slates/getApplicant',
            updateApplication: 'slates/updateApplication',
            addBudget: 'slates/addBudget',
            updateBudget: 'slates/updateBudget'
        }),
        ...mapMutations({
            setModifiedApplicant: 'slates/setModifiedApplicant',
            updateApplicant: 'slates/setApplicant',
            updateModifiedApplicant: 'slates/updateApplicant',
            updateOriginal: 'slates/updateOriginal',
        }),
        async getApplicantDetails() {
            this.loading = true;
            try {
                await this.getApplicant(this.$route.params.id);
            } catch(err) {
                console.log("Error: " + err);
            }
            this.loading = false;
        },
        changeStep(step) {
            if(step === "2") this.$router.push({ path: "/applicant/application/" + this.applicant.applicationId });
            else if(step === "3") this.$router.push({ path: "/applicant/budget/" + this.applicant.applicationId });
            else this.$router.push({ path: "/applicant/abstract/" + this.applicant.applicationId });
        },
        returnToSlates() {
            this.$router.push({ path: "/" });
        },
        next() {
            if (this.stepper === "2") {
                this.stepper = "3";
                this.$router.push({ path: "/applicant/budget/" + this.applicant.applicationId });
            } else {
                this.stepper = "4";
                this.$router.push({ path: "/applicant/abstract/" + this.applicant.applicationId });
            }
        },
        back() {
            if (this.stepper === "4") {
                this.stepper = "3";
                this.$router.push({ path: "/applicant/budget/" + this.applicant.applicationId });
            } else {
                this.stepper = "2";
                this.$router.push({ path: "/applicant/application/" + this.applicant.applicationId });
            }
        }
    },
    computed: {
        ...mapGetters({
            applicant: 'slates/getApplicant',
            modifiedApplicant: 'slates/getModifiedApplicant'
        }),
        applicationComplete() {
            if(this.applicant.applicationCompleteInd === "Y") return true;
            return false;
        },
        budgetComplete() {
            if (isEmpty(this.applicant.budgetEntities)) return false;
            if (!isEmpty(this.applicant.budgetEntities.filter( period => period.budgetPerdCompleteInd !== "Y" && period.budgetStatusCd === "CU"))) return false;
            return true;
        },
        abstractComplete() {
            if(this.applicant.abstractCompleteInd === "Y") return true;
            return false;
        },
        completed() {
            if(this.applicant.grantFundingStatusCd === "AP" || this.applicant.grantFundingStatusCd === "RJ") return true;
            return false;
        },
        currentStep() {
            if (this.stepper === "2") return this.$i18n.t('applicant.steps.application');
            if (this.stepper === "3") return this.$i18n.t('applicant.steps.budget');
            if (this.stepper === "4") return this.$i18n.t('applicant.steps.abstract');
            return this.$i18n.t('applicant.steps.received');
        }
    },
    async created() {
        await this.getApplicantDetails();
        if (includes(this.$route.path,"application")) this.stepper = "2"
        else if (includes(this.$route.path,"budget"))this.stepper = "3"
        else if (includes(this.$route.path, "abstract")) this.stepper = "4"
        else this.stepper = "1";
    }
}
</script>

<style scoped>
.v-stepper{
    box-shadow: none;
}
.v-stepper__header{
    box-shadow: none;
}
.v-stepperisEmptyisEmptyheader {
  box-shadow: none;
}
.v-stepper--alt-labels .v-stepperisEmptyisEmptystep {
  flex-basis: auto;
}
.v-stepper--alt-labels .v-stepperisEmptyisEmptyheader .v-divider {
  margin: 35px -15px 0;
}
</style>