<template>
    <section>
        <Loading v-bind:loading="loading" />
        <v-alert dense text type="success" v-model="showSuccess" dismissible>
            Your changes have been completed successfully
        </v-alert>
        <v-alert dense text type="error" v-model="showFailure" dismissible>
            There was an problem processing your request.  Please try again later.
        </v-alert>
        <div v-if="viewDetails">
            <Period 
                v-on:save="save" 
                v-on:changePeriod="changePeriod"
                v-on:return="returnBack"
                v-on:completePeriod="completePeriod"
            />
            <ConfirmComplete 
                v-bind:completeOverlay="completeOverlay"
                v-on:cancel="completeOverlay = false" 
                v-on:confirmComplete="confirmComplete" 
            />
        </div>
        <div v-else>
            <New 
                v-bind:showNew="showNew"
                v-bind:period="period"
                v-on:addNew="addNew" 
                v-on:cancelNew="showNew = false"
                v-on:updateStartDate="updateStartDate" 
            />
            <Add 
                v-bind:showAdd="showAdd"
                v-on:duplicate="duplicate" 
                v-on:cancelAdd="showAdd = false" 
            />
            <Remove 
                v-bind:showRemove="showRemove"
                v-on:cancelRemove="showRemove = false" 
                v-on:confirmRemove="confirmRemove" 
            />
            <v-row dense>
                <v-col cols="12" sm="11">
                <h3>{{ $t('budget.title') }}</h3>
                </v-col>
                <v-col cols="12" sm="1" style="text-align: right">
                    <v-icon v-on:click="expandBudget = !expandBudget">
                        {{ expandBudget ? 'mdi-eye-off' : 'mdi-eye'}}
                    </v-icon>
                </v-col>
            </v-row>
            <v-divider />
            <div v-if="expandBudget">
                <v-data-table
                    :headers="headers"
                    :items="applicant.budgetEntities"
                    :search="search"
                    item-key="budgetPerdId" dense 
                    no-data-text="There are no Budget Periods Added yet.">
                    <template v-slot:item.budgetPerdFy="{ item }">
                        <BudgetYear v-bind:period="item" v-on:updateYear="updateYear" />
                    </template>
                    <template v-slot:item.budgetPerdStartDate="{ item }">
                        <BudgetStartDate v-bind:period="item" v-on:update="updateDates" />
                    </template>
                    <template v-slot:item.budgetPerdEndDate="{ item }">
                        <BudgetEndDate v-bind:period="item" v-on:update="updateEndDate" />
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-chip
                            class="ma-2"
                            color="primary"
                            text-color="white"
                            v-on:click="editYear(item)">
                            {{ !disabled ? 'Edit' : 'View' }}
                            <v-icon right>
                                mdi-pencil-circle
                            </v-icon>
                        </v-chip>
                        <v-chip
                            v-if="canRemove(item) && !disabled"
                            class="ma-2"
                            color="error"
                            close
                            text-color="white"
                            v-on:click="removeYear()">
                            Remove
                        </v-chip>
                    </template>
                </v-data-table>
                <div class="table-footer-prepend">
                    <v-chip
                        v-if="noPeriods && !disabled"
                        class="ma-2"
                        color="success"
                        text-color="white"
                        v-on:click="newPeriod()">
                        Add Period
                        <v-icon right>
                            mdi-plus-circle
                        </v-icon>
                    </v-chip>
                    <v-chip
                        v-if="canAdd && !disabled"
                        class="ma-2"
                        color="success"
                        text-color="white"
                        v-on:click="addYear()">
                        Add Period
                        <v-icon right>
                            mdi-plus-circle
                        </v-icon>
                    </v-chip>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';
import Period from '../components/budget/Period';
import Add from '../components/budget/Add';
import New from '../components/budget/New';
import Remove from '../components/budget/Remove';
import moment from 'moment/src/moment';
import cloneDeep from 'lodash/cloneDeep';
import isEmpty from 'lodash/isEmpty';
import BudgetYear from '../components/budget/BudgetYear';
import BudgetStartDate from '../components/budget/BudgetStartDate';
import ConfirmComplete from '../components/budget/ConfirmComplete';
import BudgetEndDate from '../components/budget/BudgetEndDate';
import Loading from '../components/response-objects/Loading';
export default {
    name: "Budget",
    components: {
        Period, Add, Remove, New, BudgetYear, BudgetStartDate, BudgetEndDate, Loading, ConfirmComplete
    },
    data() {
        return {
            expandBudget: true,
            viewDetails: false,
            showAdd: false,
            showRemove: false,
            showNew: false,
            completeOverlay: false,
            period: {},
            search: '',
            headers: [
                { text: 'Period Number', align: 'left', value: 'budgetPerdSeq', sortable: false },
                { text: 'Budget Fiscal Year', align: 'left', value: 'budgetPerdFy', sortable: false },
                { text: 'Budget Period Start Date', align: 'left', value: 'budgetPerdStartDate', sortable: false },
                { text: 'Budget Period End Date', align: 'left', value: 'budgetPerdEndDate', sortable: false },
                { text: 'Actions', align: 'left', value: 'actions', width: "250px", sortable: false }
            ],
            showSuccess: false,
            showFailure: false,
            loading: false
        }
    },
    methods: {
        ...mapActions({
            getApplicant: 'slates/getApplicant',
            getBudget: 'slates/getBudget',
            removeBudget: 'slates/removeBudget',
            updateBudget: 'slates/updateBudget',
            addBudget: 'slates/addBudget',
            getApplication: 'slates/getApplication'
        }),
        ...mapMutations({
            updateApplicant: 'slates/updateApplicant',
            updateOriginal: 'slates/updateOriginal',
            setPeriod: 'slates/setPeriod',
            updatePeriod: 'slates/updatePeriod'
        }),
        updateValue(key, value) {
            this.updateApplicant({key, value});
        },
        newPeriod() {
            this.showSuccess = false;
            this.showFailure = false;
            this.period = cloneDeep(this.getNewBudget);
            this.period.budgetPerdSeq = 1;
            this.period.budgetPerdFy = this.slate.fiscalYear,
            this.period.budgetPerdStartDate = moment(new Date()).format('YYYY-MM-DD');
            this.period.applicationId = this.applicant.applicationId;
            this.showNew = true;
        },
        updateStartDate(value) {
            this.period.budgetPerdStartDate = value;
        },
        async addNew() {
            if (this.applicant.budgetEntities === undefined) 
                this.applicant.budgetEntities = [];
                
            this.period.budgetPerdEndDate = moment(this.period.budgetPerdStartDate).add("days", 364).format('YYYY-MM-DD');
            this.setPeriod(this.convertForViewing(this.period));
            this.showNew = false;
            await this.save();
        },
        addYear() {
            this.showSuccess = false;
            this.showFailure = false;
            this.showAdd = true;
        },
        async duplicate() {
            let period = cloneDeep(this.applicant.budgetEntities[this.applicant.budgetEntities.length - 1]);
            period.budgetPerdId = undefined;

            if(!isEmpty(period.keyPersonnelInfoEntities)) {
                period.keyPersonnelInfoEntities.forEach(personnel => {
                    personnel.keyPersonnelId = undefined;
                })
            }

            period.budgetPerdFy++;
            period.budgetStatusCd = "FU";
            period.budgetPerdCompleteInd = "N";
            period.budgetPerdStartDate = moment(String(period.budgetPerdStartDate)).add(1, 'Y').format('YYYY-MM-DD');
            period.budgetPerdEndDate = moment(String(period.budgetPerdEndDate)).add(1, 'Y').format('YYYY-MM-DD');
            period.budgetPerdSeq = this.applicant.budgetEntities.length + 1;
            period.applicationId = this.applicant.applicationId;
            this.setPeriod(this.convertForViewing(period));
            this.showAdd = false;
            await this.save();
        },
        completePeriod() {
            this.showSuccess = false;
            this.showFailure = false;
            this.completeOverlay = true;
        },
        async confirmComplete() {
            this.updatePeriod({ key: "budgetPerdCompleteInd", value: "Y" });
            this.completeOverlay = false;
            await this.save();
        },
        async save() {
            this.showSuccess = false;
            this.showFailure = false;
            this.loading = true;
            let period = cloneDeep(this.getPeriod);
            period.applicationId = this.applicant.applicationId;
            //period.budgetPerdCompleteInd = this.periodComplete();

            try {
                if(period.budgetPerdId !== undefined) {
                    await this.updateBudget(this.convertForUpload(period));
                } else {
                    await this.addBudget(this.convertForUpload(period));
                }
                await this.getApplicantDetails();
                this.showSuccess = true;
            } catch(err) {
                console.log(err);
                this.showFailure = true;
            }
            this.loading = false;
        },
        async getApplicantDetails() {
            this.loading = true;
            try {
                await this.getApplicant(this.$route.params.id);
            } catch(err) {
                console.log("Error: " + err);
            }
            this.loading = false;
        },
        editYear(item) {
            this.showSuccess = false;
            this.showFailure = false;
            if(item.budgetPerdCompleteInd === null || item.budgetPerdCompleteInd === undefined) 
                item.budgetPerdCompleteInd = "N";
            if(item.samCertificateInd === null || item.samCertificateInd === undefined) 
                item.samCertificateInd = "N";
            if(item.fapiisCertificateInd === null || item.fapiisCertificateInd === undefined) 
                item.fapiisCertificateInd = "N";
            this.setPeriod(this.convertForViewing(item));
            this.viewDetails = true;
        },
        returnBack() {
            this.viewDetails = false;
        },
        removeYear() {
            this.showSuccess = false;
            this.showFailure = false;
            this.showRemove = true;
        },
        async confirmRemove() {
            this.showRemove = false;
            this.loading = true;
            if (this.applicant.budgetEntities[this.applicant.budgetEntities.length-1].budgetPerdId != undefined) {
                try {
                    await this.removeBudget(this.applicant.budgetEntities[this.applicant.budgetEntities.length-1]); 
                    this.applicant.budgetEntities.pop();
                    this.updateApplicant({ key: "budgetEntities", value: this.applicant.budgetEntities });
                    this.updateOriginal({ key: "budgetEntities", value: this.applicant.budgetEntities });
                    this.showSuccess = true;
                } catch (err) {
                    console.log(err);
                    this.showFailure = false;
                }
            }
            this.loading = false;
        },
        canRemove(item) {
            if(item.budgetPerdSeq === this.applicant.budgetEntities[this.applicant.budgetEntities.length -1].budgetPerdSeq) return true;
            return false;
        },
        changePeriod(value) {
            this.setPeriod(this.convertForViewing(this.applicant.budgetEntities[value-1]));
        },
        updateYear(value, index) {
            this.applicant.budgetEntities[index-1].budgetPerdFy = value;
            this.applicant.budgetEntities[index-1].budgetPerdStartDate = moment(this.applicant.budgetEntities[index-1].budgetPerdStartDate).set({'year': value}).format('YYYY-MM-DD');
            this.applicant.budgetEntities[index-1].budgetPerdEndDate = moment(this.applicant.budgetEntities[index-1].budgetPerdEndDate).set({'year': parseInt(value) +1}).format('YYYY-MM-DD');
        },
        updateDates(value, index) {
            this.applicant.budgetEntities[index-1].budgetPerdStartDate = moment(value).format('YYYY-MM-DD');
            this.applicant.budgetEntities[index-1].budgetPerdEndDate = moment(this.applicant.budgetEntities[index-1].budgetPerdStartDate).add("days", 364).format('YYYY-MM-DD');
        },
        updateEndDate(value, index) {
            this.applicant.budgetEntities[index-1].budgetPerdEndDate = moment(value).format('YYYY-MM-DD');
        },
        periodComplete() {
            if (this.getPeriod.budgetPerdSeq != 1) return "N";
            if (this.getPeriod.fapiisCertificateInd != "Y") return "N";
            if (this.getPeriod.samCertificateInd != "Y") return "N";
            if (isEmpty(this.getPeriod.keyPersonnelInfoEntities)) return "N";
            if (isEmpty(this.getPeriod.keyPersonnelInfoEntities.filter( key => key.keyPersonnelTitleCd == "01"))) return "N";
            return  "Y";
        }
    },
    computed: {
        ...mapGetters({
            applicant: 'slates/getModifiedApplicant',
            getNewBudget: 'slates/getNewBudget',
            slate: 'slates/getSlate',
            original: 'slates/getApplicant',
            getPeriod: 'slates/getPeriod'
        }),
        canAdd() {
            if(isEmpty(this.applicant.budgetEntities)) return false;
            if(this.slate.performancePeriod / 12 === this.applicant.budgetEntities.length) return false;
            return true;
        },
        noPeriods() {
            if(isEmpty(this.applicant.budgetEntities)) return true;
            return false;
        },
        disabled() {
            if(this.original.grantFundingStatusCd === "AP") return true;
            return false;
        }
    },
    created() {
        if (!isEmpty(this.applicant.budgetEntities)) {
            if (this.applicant.budgetEntities.length === 5) {
                this.setPeriod(this.convertForViewing(this.applicant.budgetEntities[0]));
                this.viewDetails = true;
            }
        }
    }
}
</script>