<template>
  <v-row>
    <v-col cols="12" md="6">
      <v-hover>
        <v-card shaped elevation="2">
          <v-row align="center">
            <v-col cols="12" lg="10" md="9" offset-lg="0" offset-md="1">
              <v-card flat>
                <v-card-title>Grants</v-card-title>
                <v-card-subtitle>Manage Grants</v-card-subtitle>
                <v-card-text>
                  <v-btn color="deep-orange darken-4" text v-on:click="goToSlates">Manage Slates</v-btn>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-hover>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Main',
  components: {
  },
  data() {
    return {}
  },
  methods: {
    goToSlates() {
      this.$router.push({ path: "/slates" });
    }
  },
  computed: {
    ...mapGetters({})
  }
}
</script>

<style scoped>
</style>