<template>
  <v-card>
    <v-toolbar color="primary" dense dark flat>
      <v-card-title>{{ $t('slates.manageSlatesTitle') }}</v-card-title>
    </v-toolbar>
      <Loading v-bind:loading="loading" />
      <v-alert ref="successMessage" dense text type="success" v-model="showSuccess" dismissible>
        Your changes have been completed successfully
      </v-alert>
    <v-card-text v-if="!loading">
      <v-row dense>
        <v-col cols="12" sm="11">
          <h3>{{ $t('slates.compInfo') }}</h3>
        </v-col>
        <v-col cols="12" sm="1" style="text-align: right">
          <v-icon v-on:click="expandCompInfo = !expandCompInfo">{{ expandCompInfo ? 'mdi-eye-off' : 'mdi-eye'}}</v-icon>
        </v-col>
      </v-row>
      <v-divider />
      <v-row v-if="expandCompInfo">
        <v-col cols="12" sm="4">
          <UserProp
            v-bind:label="$t('slates.fiscalYearLbl')"
            v-bind:value="slate.fiscalYear"
          />
          <UserProp
            v-bind:label="$t('slates.grantContactLbl')"
            v-bind:value="slate.contact"
          />
          <UserProp
            v-bind:label="$t('slates.performancePeriodLbl')"
            v-bind:value="slate.performancePeriod + ' (In Months)'"
          />
        </v-col>
        <v-col cols="12" sm="4">
          <UserProp
            v-bind:label="$t('slates.subProgramLbl')"
            v-bind:value="slate.subProgram"
          />
          <UserProp
            v-bind:label="$t('slates.actionTypeLbl')"
            v-bind:value="slate.actionType"
          />
        </v-col>
        <v-col cols="12" sm="4">
          <UserProp
            v-bind:label="$t('slates.schNoTitleLbl')"
            v-bind:value="slate.scheduleNo"
          />
          <UserProp
            v-bind:label="$t('slates.scheduleTitleLbl')"
            v-bind:value="slate.scheduleTitle"
          />
        </v-col>
      </v-row>
      <v-row dense>
        <v-col cols="12" sm="11">
        <h3>{{ $t('slates.applicationsTitle') }}</h3>
        </v-col>
        <v-col cols="12" sm="1" style="text-align: right">
          <v-icon v-on:click="expandAppFilters = !expandAppFilters">{{ expandAppFilters ? 'mdi-eye-off' : 'mdi-eye'}}</v-icon>
        </v-col>
      </v-row>
      <v-divider />
      <div v-if="expandAppFilters">
        <v-row dense>
          <v-col cols="12" sm="6" dense class="ma-0 pa-0">
            <strong>{{ $t('slates.filterByStatus') }}:</strong>
            <v-radio-group v-model="filterBy" row dense class="ma-0 pa-0" hide-details>
              <v-radio
                label="All"
                value="All"
              />
              <v-radio
                label="Received"
                value="RC"
              />
              <v-radio
                label="On-Hold"
                value="OH"
              />
              <v-radio
                label="Recommended and Above"
                value="RA"
              />
            </v-radio-group>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              single-line
              hide-details
              :label="$t('global.search')"
              dense
            />
          </v-col>
          <v-col cols="12" sm="1" dense>
          </v-col>
          <v-col cols="12" sm="3" dense class="pl-5">
            <strong>{{ $t('slates.hideByStatus') }}:</strong>
            <v-radio-group row dense class="ma-0 pa-0" hide-details>
              <v-checkbox dense class="pa-0 ma-0 pr-5" v-model="hideApproved"
                label="Approved" hide-details
              />
              <v-checkbox dense class="pa-0 ma-0" v-model="hideRejected"
                label="Rejected" hide-details
              />
            </v-radio-group>
          </v-col>
          <v-col cols="12" sm="2" dense>
            <strong>{{ $t('slates.showOnly') }}:</strong>
            <v-checkbox dense class="pa-0 ma-0 pr-3" v-model="showDetails"
              :label="$t('slates.showDetails')" hide-details
            />
          </v-col>
        </v-row>
      </div>
      <v-data-table
        :headers="filteredHeaders"
        :items="applications"
        :search="search"
        item-key="awardNo" dense 
        :item-class="itemRowBackground"
        no-data-text="There are no Applications to review.">
        <template v-slot:item.save="{ item }">
          <Tooltip v-if="!disabled(item)"
            v-bind:text="$t('global.save')"
            v-bind:icon="`mdi-content-save`"
            v-bind:color="`primary`"
            v-on:action="save(item)"
          />
        </template>
        <template v-slot:item.actions="{ item }">
          <v-radio-group row dense class="ma-0 pa-0" hide-details>
            <Tooltip
              v-bind:text="$t('applicant.steps.received')"
              v-bind:icon="`mdi-check-bold`"
              v-bind:color="`success`"
              v-bind:noLink="true"
            />
            <v-divider class="mt-4 pl-1 pr-1"/>
            <Tooltip
              v-bind:text="$t('applicant.steps.application')"
              v-bind:icon="item.applicationCompleteInd === 'Y' ? `mdi-check-bold` : `mdi-exclamation-thick`"
              v-bind:color="item.applicationCompleteInd === 'Y' ? `success` : `error`"
              v-on:action="navigateToApp(item)"
            />
            <v-divider class="mt-4 pl-1 pr-1"/>
            <Tooltip
              v-bind:text="$t('applicant.steps.budget')"
              v-bind:icon="budgetComplete(item) ? `mdi-check-bold` : `mdi-exclamation-thick`"
              v-bind:color="budgetComplete(item) ? `success` : `error`"
              v-on:action="navigateToBudget(item)"
            />
            <v-divider class="mt-4 pl-1 pr-1"/>
            <Tooltip
              v-bind:text="$t('applicant.steps.abstract')"
              v-bind:icon="item.abstractCompleteInd === 'Y' ? `mdi-check-bold` : `mdi-exclamation-thick`"
              v-bind:color="item.abstractCompleteInd === 'Y' ? `success` : `error`"
              v-on:action="navigateToAbstract(item)"
            />
            <v-divider class="mt-4 pl-1 pr-1"/>
            <Tooltip
              v-bind:text="$t('applicant.steps.completed')"
              v-bind:icon="item.grantFundingStatusCd === 'AP' || item.grantFundingStatusCd === 'RJ' ? `mdi-check-bold` : `mdi-exclamation-thick`"
              v-bind:color="item.grantFundingStatusCd === 'AP' || item.grantFundingStatusCd === 'RJ' ? `success` : `error`"
              v-bind:noLink="true"
            />
          </v-radio-group>
          <v-radio-group row dense class="ma-0 pa-0 pl-1" hide-details>
            <v-checkbox dense class="pa-0 ma-0 pr-5" v-model="item.msMonitoringReqInd"
              :label="$t('slates.slatesTable.strategyOptions.monitoring')"
              hide-details
              true-value="Y"
              false-value="N"
              :disabled="disabled(item)"
            />
            <v-checkbox dense class="pa-0 ma-0"  v-model="item.msTechnicalAssistanceInd"
              :label="$t('slates.slatesTable.strategyOptions.assistance')"
              hide-details
              true-value="Y"
              false-value="N"
              :disabled="disabled(item)"
            />
          </v-radio-group>
        </template>
        <template v-slot:item.grantFundingStatusCd="{ item }">
          <FundingStatus 
            v-bind:edit="disabled(item)" 
            v-on:selectStatus="selectStatus"
            v-bind:item="item"
          />
        </template>
        <template v-slot:item.edProgramContact="{ item }">
          <ProgramContact 
            v-bind:edit="disabled(item)" 
            v-on:selectContact="selectContact"
            v-bind:item="item"
          />
        </template>
        <template v-slot:item.requestedAmount="{ item }">
          ${{ getTotalRequestedAmount(item) }}
        </template>
        <template v-slot:item.recommendedAmount="{ item }">
          ${{ getTotalRecommendedAmount(item) }}
        </template>
      </v-data-table>
      <div class="table-footer-prepend">
        <strong class="pr-5">Legend:</strong>
        <Tooltip
          class="pl-2"
          v-bind:text="'Completed Task'"
          v-bind:icon="`mdi-check-bold`"
          v-bind:color="`success`"
        />
        <strong class="pr-5">Completed Task</strong>
        <Tooltip
          class="pl-2"
          v-bind:text="'Incomplete Task'"
          v-bind:icon="`mdi-exclamation-thick`"
          v-bind:color="`error`"
        />
        <strong class="pr-5">Incomplete Task</strong>
        <span style="background-color: #E8F5E9; border-top: 1px solid rgba(0, 0, 0, 0.12); border-bottom: 1px solid rgba(0, 0, 0, 0.12)" class="pa-3 mr-5">
          <strong>Approved</strong>
        </span>
        <span style="background-color: #FFEBEE; border-top: 1px solid rgba(0, 0, 0, 0.12); border-bottom: 1px solid rgba(0, 0, 0, 0.12)" class="pa-3 mr-5">
          <strong>Rejected</strong>
        </span>
        <span style="background-color: #FFFDE7; border-top: 1px solid rgba(0, 0, 0, 0.12); border-bottom: 1px solid rgba(0, 0, 0, 0.12)" class="pa-3">
          <strong>Obligated</strong>
        </span>
      </div>
      <v-row dense>
        <v-col cols="12" sm="11">
        <h3>{{ $t('slates.slateSummary') }}</h3>
        </v-col>
        <v-col cols="12" sm="1" style="text-align: right">
          <v-icon v-on:click="expandSlate = !expandSlate">{{ expandSlate ? 'mdi-eye-off' : 'mdi-eye'}}</v-icon>
        </v-col>
      </v-row>
      <v-divider />
      <div v-if="expandSlate">
        <v-row dense>
          <v-col cols="12" sm="4">
            <UserProp
              v-bind:label="$t('slates.numberApplications')"
              v-bind:value="totalApplicants"
            />
          </v-col>
          <v-col cols="12" sm="6">
            <UserProp
              v-bind:label="$t('slates.numberRecommended')"
              v-bind:value="totalRecommended"
            />
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12" sm="4">
            <UserProp
              v-bind:label="$t('slates.plannedAmount')"
              v-bind:value="plannedAmount"
            />
          </v-col>
          <v-col cols="12" sm="4">
            <UserProp
              v-bind:label="$t('slates.recommendedAmount')"
              v-bind:value="recommendedAmount"
            />
          </v-col>
          <v-col cols="12" sm="4">
            <UserProp
              v-bind:label="$t('slates.remainingAmount')"
              v-bind:value="remainingAmount"
            />
          </v-col>
        </v-row>
      </div>
      <div v-if="filterByApprovable" class="pt-5">
        <v-row dense>
          <v-col cols="12" sm="6" offset-sm="3">
          <h3>{{ $t('slates.approveDSlate') }}</h3>
          <v-divider />
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12" sm="6" offset-sm="3">
            <strong>{{ $t('slates.approveQuestion') }}  </strong>
            <v-form ref="submitForm" v-model="canSubmit">
              <v-radio-group v-model="approveConfirmation" row dense class="ma-0 pa-0" hide-details>
                <v-radio
                  label="Yes"
                  value="Y"
                />
                <v-radio
                  label="No"
                  value="N"
                />
              </v-radio-group>
              <UserDataTextArea class="pt-5"
                  v-bind:edit="false" 
                  v-on:update="updateValue"
                  v-bind:id="'comments'"
                  v-bind:data="data"
              />
            </v-form>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12" sm="6" offset-sm="3">
            <v-card-actions v-if="!loading">
              <v-btn color="error" v-on:click="cancelApproval">{{ $t('global.cancel')}}</v-btn>
              <v-spacer />
              <v-btn color="success" :disabled="applications.length === 0 && approveConfirmation !=='Y' || data.comments === ''" v-on:click="submitSlates">{{ $t('global.submit') }}</v-btn>
            </v-card-actions>
          </v-col>
        </v-row>
      </div>
    </v-card-text>
    <v-card-actions v-if="!loading">
      <v-btn v-if="!filterByApprovable" dark color="primary" v-on:click="approveSlate">{{ $t('slates.approveSlate') }}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';
import UserProp from '../components/common/UserProp';
import Loading from '../components/response-objects/Loading';
import Tooltip from '../components/common/Tooltip';
import FundingStatus from '../components/slates/FundingStatus';
import ProgramContact from '../components/slates/ProgramContact';
import UserDataTextArea from '../components/common/UserDataTextArea';
import isEmpty from 'lodash/isEmpty';
export default {
  name: 'Slates',
  components: {
    UserProp,
    Loading,
    ProgramContact,
    Tooltip,
    FundingStatus,
    UserDataTextArea
  },
  data() {
    return {
      loading: false,
      search: '',
      filterBy: 'All',
      prevFilter: '',
      expandCompInfo: true,
      expandAppFilters: true,
      expandSlate: true,
      showDetails: false,
      hideApproved: false,
      hideRejected: false,
      myApps: false,
      showSuccess: false,
      filterByApprovable: false,
      approveConfirmation: '',
      data: {comments: ''},
      canSubmit: false,
      errors: [],
      headers: [
        { text: this.$i18n.t('applicant.awardNo'), align: 'left', value: 'prAwardNo' },
        { text: this.$i18n.t('applicant.granteeDuns'), align: 'left', value: 'granteeDuns' },
        { text: this.$i18n.t('applicant.applicantName'), align: 'left', value: 'applicantName' },
        { text: this.$i18n.t('applicant.edProgramContact'), align: 'left', value: 'edProgramContact' },
        { text: this.$i18n.t('applicant.grantFundingStatusCd'), align: 'left', value: 'grantFundingStatusCd' },
        { text: this.$i18n.t('applicant.requestedAmount'), align: 'left', value: 'requestedAmount', divider: true },
        { text: this.$i18n.t('applicant.recommendedAmount'), align: 'left', value: 'recommendedAmount' },
        { text: this.$i18n.t('applicant.rankNo'), align: 'left', value: 'rankNo' },
        { text: this.$i18n.t('applicant.stateCd'), align: 'left', value: 'stateCd' },
        { text: this.$i18n.t('applicant.highRiskCd'), align: 'left', value: 'highRiskCd', divider: true },
        { text: "Received - Application - Budget - Abstract - Completed", align: 'center', value: 'actions', sortable: false, width: '350px', divider: true },
        { text: this.$i18n.t('global.save'), align: 'left', value: 'save', sortable: false, divider: true }
      ]
    }
  },
  methods: {
    ...mapActions({
      getAllApplications: 'slates/getApplications',
      updateApp: 'slates/updateApplication',
      approveApp: 'slates/approveApplication'
    }),
    ...mapMutations({
      updateApplication: 'slates/updateSlateApplication'
    }),
    selectStatus(item, value) {
      this.updateApplication( {
        id: item.applicationId,
        key: "grantFundingStatusCd",
        value: value
      });
    },
    selectContact(item, value) {
      this.updateApplication( {
        id: item.applicationId,
        key: "edProgramContact",
        value: value
      });
    },
    async save(item) {
      this.loading = true;
      try {
        await this.updateApp(item);
        this.showSuccess = true;
        this.$refs.successMessage.$el.focus();
      } catch(err) {
        this.errors = err;
      }
      this.loading = false;
    },
    approveSlate() {
      this.prevFilter = this.filterBy;
      this.filterBy = "All";
      this.filterByApprovable = true;
    },
    cancelApproval() {
      this.approveConfirmation = '';
      this.data.comments = '';
      this.filterByApprovable = false;
      this.filterBy = this.prevFilter;
    },
    async submitSlates() {
      this.loading = true;
      const appsToApprove = this.applications;
      try {
        await Promise.all(appsToApprove.map( async (app) => {
          const req = {
            applicationId: app.applicationId,
            applicationComment: this.data.comments,
            grantFundingStatusCd: app.grantFundingStatusCd,
            msMonitoringReqInd: app.msMonitoringReqInd === 'Y' ? 'Y' : 'N',
            msTechnicalAssistanceInd: app.msTechnicalAssistanceInd === "y" ? 'Y' : 'N'
          }
          await this.approveApp(req);
          await this.getAppsFromAPI();
        }));
        this.cancelApproval();
        this.showSuccess = true;
        this.$refs.successMessage.$el.focus();
      } catch(err) {
        console.log(err);
      }
      this.loading = false;
    },
    async getAppsFromAPI() {
      this.loading = true;
      try {
        await this.getAllApplications();
      } catch (err) {
        this.errors = err;
      }
      this.loading = false;
    },
    itemRowBackground(item) {
      return item.grantFundingStatusCd === 'AP' ? 'approved': item.grantFundingStatusCd === 'RJ' ? 'rejected': item.grantFundingStatusCd === 'OB' ? 'obligated' : '';
    },
    navigateToApp(item) {
      this.$router.push({ path: "/applicant/application/" + item.applicationId });
    },
    navigateToBudget(item) {
      this.$router.push( { path: "/applicant/budget/" + item.applicationId });
    },
    navigateToAbstract(item) {
      this.$router.push({ path: "/applicant/abstract/" + item.applicationId });
    },
    budgetComplete(item) {
      if (isEmpty(item.budgetEntities)) return false;
      if (!isEmpty(item.budgetEntities.filter( period => period.budgetPerdCompleteInd !== "Y" && period.budgetStatusCd === "CU"))) return false;
      return true;
    },
    updateValue(key, value) {
      this.data[key] = value;
    },
    disabled(item) {
        if(item.grantFundingStatusCd === "AP") return true;
        return false;
    }
  },
  computed: {
    ...mapGetters({
      getApplications: 'slates/getApplications',
      slate: 'slates/getSlate'
    }),
    applications() {
      let apps = this.getApplications;

      if (this.myApps) {
        apps = apps.filter( row => row.myApp);
      }

      if (this.hideApproved) {
        apps = apps.filter ( row => row.grantFundingStatusCd !== "AP");
      }

      if (this.hideRejected) {
        apps = apps.filter ( row => row.grantFundingStatusCd !== "RJ");
      }

      if(!isEmpty(this.filterBy)) {
        if(this.filterBy != 'All') {
          if(this.filterBy === 'RA') {
            apps = apps.filter (
              row =>  row.grantFundingStatusCd === "RR" ||
              row.grantFundingStatusCd === 'PR' ||
              row.grantFundingStatusCd === "CO" ||
              row.grantFundingStatusCd === "PC" ||
              row.grantFundingStatusCd === "DC" ||
              row.grantFundingStatusCd === "OB" ||
              row.grantFundingStatusCd === "AP" ||
              row.grantFundingStatusCd === "RO");
          } else {
            apps = apps.filter (row => row.grantFundingStatusCd === this.filterBy);
          }
        }
      }

      if(this.filterByApprovable) {
        apps = apps.filter ( 
          app => app.grantFundingStatusCd == "RR" && 
          (app.edProgramContact != "" || app.edProgramContact != undefined) &&
          app.applicationCompleteInd == "Y" &&
          app.abstractCompleteInd == "Y" &&
          this.budgetComplete(app));
      }
      return apps;
    },
    totalApplicants() {
      if (isEmpty(this.getApplications)) return 0;
      else return this.getApplications.length;
    },
    totalRecommended() {
      if (isEmpty(this.getApplications)) return 0;
      else return this.getApplications.filter( row => row.grantFundingStatusCd === "RR").length;
    },
    plannedAmount() {
      return "$" + this.convertToCurrency(this.convertToFloat(this.slate.plannedAmount));
    },
    recommendedAmount() {
      if (isEmpty(this.getApplications)) return 0;  
      let amount = 0;
      this.getApplications.forEach( app => {
        amount += this.getFloatTotalRequestedAmount(app);
      });
      return "$" + this.convertToCurrency(amount);
    },
    remainingAmount() {
      return "$" + this.convertToCurrency(this.convertToFloat(this.slate.plannedAmount) - this.convertToFloat(this.recommendedAmount.substring(1)));
    },
    filteredHeaders() {
      let headers = this.headers;

      if(!this.showDetails) {
        headers = headers.filter (header => header.text !== this.$i18n.t('applicant.recommendedAmount'));
        headers = headers.filter (header => header.text !== this.$i18n.t('applicant.rankNo'));
        headers = headers.filter (header => header.text !== this.$i18n.t('applicant.stateCd'));
        headers = headers.filter (header => header.text !== this.$i18n.t('applicant.highRiskCd'));
      }
      return headers;
    }
  },
  async created() {
    await this.getAppsFromAPI();
  }
}
</script>

<style scoped>
</style>