<template>
  <UserDataDropDown 
    v-bind:edit="edit" 
    v-on:update="changeValue"
    v-bind:id="'edProgramContact'"
    v-bind:data="item"
    v-bind:overrides="{ 'identifier': item.applicationId }"
  />
</template>

<script>
import UserDataDropDown from "../common/UserDataDropDown";
export default {
    name: "ProgramContact",
    components: {
      UserDataDropDown
    },
    props: ["edit","item"],
    methods: {
        changeValue(id, value) {
        this.$emit("selectContact", this.item, value);
        }
    },
    computed: {}
}
</script>