<template>
    <v-stepper v-model="currentStep" v-on:change="setStep" alt-labels dark>
        <v-stepper-header>
                <v-stepper-step
                    step="0"
                    :complete="true"
                    :editable="false"
                    >
                    {{ $t('slates.slatesTable.steps.received') }}
                </v-stepper-step>
                <v-divider />
                <v-stepper-step
                    step="1"
                    :complete="true"
                    :editable="true"
                    :edit-icon="step1 ? '$complete' : '$edit'">
                    {{ $t('slates.slatesTable.steps.application') }}
                </v-stepper-step>
                <v-divider />
                <v-stepper-step
                    step="2"
                    :complete="true"
                    :editable="true"
                    :edit-icon="step2 ? '$complete' : '$edit'">
                    {{ $t('slates.slatesTable.steps.budget') }}
                </v-stepper-step>
                <v-divider />
                <v-stepper-step
                    step="3"
                    :complete="true"
                    :editable="true"
                    :edit-icon="step3 ? '$complete' : '$edit'">
                    {{ $t('slates.slatesTable.steps.abstract') }}
                </v-stepper-step>
                <v-overlay
                    :absolute="true"
                    :opacity=".65"
                    :value="grant.fundingStatus === 'approved' || grant.fundingStatus === 'rejected'">
                    <v-btn v-if= "grant.fundingStatus === 'approved'" color="success">
                        {{ $t('slates.slatesTable.steps.approved') }}
                    </v-btn>
                    <v-btn v-if= "grant.fundingStatus === 'rejected'" color="error">
                        {{ $t('slates.slatesTable.steps.rejected') }}
                    </v-btn>
                </v-overlay>
        </v-stepper-header>
    </v-stepper>
</template>


<script>
export default {
    name: "Status",
    props: ["grant"],
    data() {
        return {
            currentStep: undefined
        }
    },
    methods: {
        setStep(step) {
            if (step === "1") this.$router.push({ path: "/application/" + this.grant.awardNo });
            if (step === "2") this.$router.push({ path: "/budget/" + this.grant.awardNo });
            if (step === "3") this.$router.push( { path: "/abstract/" + this.grant.awardNo });
        }
    },
    computed: {
        step1() {
            if (this.grant.appComplete === "Yes") return true;
            return false;
        },
        step2() {
            if (this.grant.budgetComplete === "Yes") return true;
            return false;
        },
        step3() {
            if (this.grant.abstractComplete === "Yes") return true;
            return false;
        }
    }
}
</script>