<template>
  <v-row dense style="text-align: left">
    <v-col cols="12" sm="4" class="pl-2" dense>
      <strong>{{ lbl }}:</strong>
    </v-col>
    <v-col cols="12" sm="8" dense style="border-bottom: 1px solid rgba(0,0,0,.2);">
      {{ input }}
    </v-col>
  </v-row>
</template>

<script>
import isEmpty from "lodash/isEmpty";
export default {
  name: "UserProp",
  props: ["obj", "value", "label", "isUrl"],
  data() {
    return {
      windowWidth: 0
    }
  },
  methods: {
    onResize() {
      this.windowWidth = window.innerWidth;
    }
  },
  computed: {
    isSmaller() {
      if(this.windowWidth < "600")
        return true;
      return false;
    },
    lbl() {
      return !isEmpty(this.obj) ? this.obj.label : this.label;
    },
    key() {
      if(!isEmpty(this.obj)) return this.obj.key;
      return this.label.replace("/\\s/g", "");
    },
    input: {
      set(input) {
        this.$emit("update", input);
      },
      get() {
        return this.value;
      }
    }
  },	
  mounted() {	
    this.onResize();
    this.$nextTick(() => {	
      window.addEventListener('resize', this.onResize);	
    })	
  },	
  beforeDestroy() { 	
    window.removeEventListener('resize', this.onResize); 	
  }
}
</script>