<template>
  <v-autocomplete 
    :class="obj.hideDetails ? 'mt-1 mb-1 override' : 'mt-3 override'" 
    @change="updateValue" :id=id
    :label="!obj.noLabel ? obj.required ? obj.label : obj.label + $t('global.optional') : ''"
    v-bind:value=input
    :rules=inputRules
    :hint=obj.hint 
    :items=data
    :item-value=value 
    :item-text=text
    outlined dense
    placeholder=" "
    :disabled="obj.edit"
    :clearable="obj.clearable ? obj.clearable : false"
    :hide-details="obj.hideDetails ? obj.hideDetails : false"
    :persistent-hint="obj.persistentHint ? obj.persistentHint : false"
  />
</template>

<script>
import isEmpty from 'lodash/isEmpty';
export default {
  name: "DropDown",
  props: [
    "id",
    "obj",
    "data",
    "input",
    "value",
    "text"
  ],
  methods: {
    updateValue(value) {
      this.$emit("update", value);
    }
  },
  data() {
    return {
      valid: false,
      inputRules: [
        v => {
          this.valid = false;
          if(this.obj.required && !v) return this.requiredMessage;
          this.valid = true;
          return true;
        }
      ],
    }
  },
  computed: {
    requiredMessage() {
      if(isEmpty(this.obj.requiredMessage)) 
        return this.$t('global.the') + this.obj.label + this.$i18n.t('global.isRequired');
      return this.obj.requiredMessage;
    }
  }
}
</script>