<template>
  <v-img 
    :alt="app.appDisplayName + ' Icon'" 
    :src="filename" 
    @error="onImgError()" 
    max-height="100px" 
    contain
  />
</template>

<script>
 export default {
  name: 'IconImage',
  props: ['app'],
  data: function () {
   return {
    imgError: false
   }
  },
  methods: {
   onImgError() {
    this.imgError = true;
   }
  },
  computed: {
    filename() {
      let path = 'images/' + this.app.appName + '.png';
      if (this.imgError) path = "images/default.png";
      return path;
    }
  }
}
</script>

<style scoped>
</style>