<template>
  <v-textarea
    @change="updateValue"
    :id=obj.key
    :label="obj.required ? obj.label : obj.label + $t('global.optional')"
    v-bind:value=input
    :maxlength=obj.length
    :rules=inputRules
    :hint=obj.hint 
    outlined dense auto-grow rows=3
    :type="obj.password ? 'password' : 'text'"
    placeholder=" "
    :disabled="obj.edit"
    class="override"
  />
</template>

<script>
export default {
  name: "TextArea",
  props: [
    "obj",
    "input",
    "compareToString",
    "canNotCopy"
  ],
  methods: {
    updateValue(value) {
      this.$emit("update", value);
    }
  },
  data() {
    return {
      inputRules: [
        v => {
          if(!this.obj.required) return true;
          return !!v || this.obj.requiredMessage;
        }
      ]
    }
  }
}
</script>