<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on }">
      <span v-on="on">
        {{ text }}
      </span>
    </template>
    <span>
      {{ tooltip }}
    </span>
  </v-tooltip>
</template>

<script>
export default {
  name: "Tooltip",
  props: ["text", "tooltip", "color"]
}
</script>