<template>
  <v-text-field
    class="mt-3 override" 
    :id=id
    :label="!obj.noLabel ? obj.required ? obj.label : obj.label + $t('global.optional') : ''"
    v-model=computedInput
    :maxlength=obj.length
    :append-icon="icon"
    :rules=inputRules
    :hint=obj.hint
    outlined dense
    v-mask="obj.format ? obj.format : null"
    @paste="onPaste"
    @focus="onFocus"
    @focusout="onFocusout"
    :prepend-icon="this.obj.isMoney ? 'mdi-currency-usd' : ''"
    :type="type"
    :filled=obj.filled
    :placeholder="obj.placeHolder ? obj.placeHolder : ' '"
    :disabled="obj.edit"
    @click:append="showPassword = !showPassword"
    :hide-details="obj.hideDetails ? obj.hideDetails : false"
  />
</template>

<script>
import isEmpty from "lodash/isEmpty";
import moment from "moment/src/moment";
export default {
  name: "TextField",
  props: [
    "id",
    "obj",
    "input",
    "compareToString",
    "canNotCopy"
  ],
  data() {
    return {
      showPassword: false,
      inputRules: [
        v => {
          if(this.obj.required && !v) {
            return this.requiredMessage;
          }
          return true;
        },
        v => {
          if(!this.obj.required && isEmpty(v)) return true;
          const pattern = new RegExp(this.obj.regex);
          if (!pattern.test(v)) {
            return this.validationMessage;
          }
          return true;
        },
        v => {
          if(isEmpty(this.compareToString) || isEmpty(v)) return true;
          if (this.obj.caseSensitive) {
            if (v !== this.compareToString) {
              return this.validationMessage;
            }
          } else {
            if(v.toUpperCase() !== this.compareToString.toUpperCase()) {
              return this.validationMessage;
            }
          }
          return true;
        },
        v => {
          if(!this.obj.mustBeOfAge) return true;
          var eightTeenYearsAgo = moment().subtract("years", 18);
          var birthday = moment(v);

          if(birthday.isValid() && !eightTeenYearsAgo.isAfter(birthday)) {
            return this.obj.ageMessage;
          }
          return true;
        }
      ]
    }
  },
  methods: {
    onPaste(evt) {
      if(this.obj.canNotCopy) evt.preventDefault();
    },
    onFocus() {
      if(this.obj.isMoney) this.$emit("update", this.convertToFloat(this.input));
    },
    onFocusout() {
      if (this.obj.isMoney) this.$emit("update", this.convertToCurrency(this.input));
    }
  },
  computed: {
    computedInput: {
      set(input) {
        this.$emit("update", input);
      },
      get() {
        return this.input;
      }
    },
    icon() {
      if (this.obj.password) {
        if (this.showPassword) {
          return 'mdi-eye-off';
        } else {
          return 'mdi-eye';
        }
      } else {
        return "";
      }
    },
    type() {
      if (this.obj.password) {
        if (this.showPassword) {
          return 'text';
        } else {
          return 'password';
        }
      } else {
        return 'text';
      }
    },
    validationMessage() {
      if(isEmpty(this.obj.validationMessage)) 
        return this.$i18n.t('global.invalidFormat') + this.obj.hint;
      return this.obj.validationMessage;
    },
    requiredMessage() {
      if(isEmpty(this.obj.requiredMessage)) 
        return this.$t('global.the') + this.obj.label + this.$i18n.t('global.isRequired');
      return this.obj.requiredMessage;
    }
  }
}
</script>