<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on }">
      <span v-on="on">
        <v-btn icon :color=color @click="$emit('action')">
          <v-badge :color=color :content=count overlap>
            <v-icon>{{ icon }}</v-icon>
          </v-badge>
        </v-btn>
      </span>
    </template>
    <span>
      {{ text }}
    </span>
  </v-tooltip>
</template>

<script>
export default {
  name: "Tooltip",
  props: ["text", "icon", "color", "count"],

}
</script>

<style scoped>
 .v-application .error {
    background-color: none !important;
  }
</style>