<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on }">
      <span v-on="on">
        <v-btn v-if="!noLink" icon :color=color @click="$emit('action')">
          <v-icon>{{ icon }}</v-icon>
        </v-btn>
        <v-icon v-if="noLink" style="padding-top:5px;" :color=color>{{ icon }}</v-icon>
      </span>
    </template>
    <span>
      {{ text }}
    </span>
  </v-tooltip>
</template>

<script>
export default {
  name: "Tooltip",
  props: ["text", "icon", "color", "noLink"]
}
</script>