<template>
  <v-row dense>
    <v-col cols="12" sm="6" :class="isSmaller ? '' : 'text-right'">
      <strong>
      {{ label }}:
      </strong>
    </v-col>
    <v-col cols="12" sm="6" :style="isSmaller ? '' : ''">
      {{ value }}
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "UserPropApproval",
  props: [
    "label",
    "value"
  ],
  data() {
    return {
      windowWidth: 0
    }
  },
  methods: {
    onResize() {
      this.windowWidth = window.innerWidth;
    }
  },
  computed: {
    isSmaller() {
      if(this.windowWidth < "600")
        return true;
      return false;
    }
  },	
  mounted() {	
    this.onResize();
    this.$nextTick(() => {	
      window.addEventListener('resize', this.onResize);	
    })	
  },	
  beforeDestroy() { 	
    window.removeEventListener('resize', this.onResize); 	
  }
}
</script>