<template>
  <div>
    <DropDown
      v-on:update="changeValue"
      v-bind:id="obj.identifier ? obj.identifier + ':' + id : id"
      v-bind:obj="obj"
      v-bind:input="getValue"
      v-bind:data="obj.data"
      v-bind:value="obj.value"
      v-bind:text="obj.text"
      v-bind:requiredMessage="obj['required-message']"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import DropDown from './DropDown';
import isEmpty from 'lodash/isEmpty';
import cloneDeep from 'lodash/cloneDeep';
export default {
  name: 'UserDataDropDown',
  components: {
    DropDown
  },
  props: [
    "edit",
    "id",
    "data",
    "overrides"
  ],
  data() {return {}},
  methods: {
    changeValue(value) {
      this.$emit("update", this.id, value);
    }
  },
  computed: {
    ...mapGetters({
      props: 'params/getProps'
    }),
    getValue() {
      return this.data[this.id];
    },
    obj() {
      let obj = cloneDeep(this.props[this.id]);
      obj.key = this.id;
      obj.edit = this.edit;
      if (!isEmpty(this.overrides) && !isEmpty(this.overrides.locale)) 
        obj.locale = this.overrides.locale;
      return { ...obj, ...this.$i18n.t(obj.locale), ...this.overrides };
    }
  }
}
</script>

<style scoped>
</style>