<template>
  <div>
    <TextArea
      v-on:update="changeValue"
      v-bind:id="id"
      v-bind:obj="obj"
      v-bind:input="getValue"
      v-bind:compareToString="compareToString"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TextArea from './TextArea';
export default {
  name: 'UserDataInputText',
  components: {
    TextArea
  },
  props: [
    "edit",
    "id",
    "data",
    "compareToString",
    "overrides"
  ],
  data() {return {}},
  methods: {
    changeValue(value) {
      this.$emit("update", this.id, value, this.override);
    }
  },
  computed: {
    ...mapGetters({
      props: 'params/getProps'
    }),
    getValue() {
      return this.data[this.id];
    },
    obj() {
      let obj = this.props[this.id];
      obj.edit = this.edit;
      return { ...obj, ...this.$i18n.t(obj.locale), ...this.overrides };
    }
  }
}
</script>

<style scoped>
</style>