<template>
  <div>
    <TextField
      v-on:update="changeValue"
      v-bind:id="obj.identifier ? obj.identifier + ':' + id : id"
      v-bind:obj="obj"
      v-bind:input="getValue"
      v-bind:compareToString="compareToString"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TextField from './TextField';
import isEmpty from 'lodash/isEmpty';
import cloneDeep from 'lodash/cloneDeep';
export default {
  name: 'UserDataInputText',
  components: {
    TextField
  },
  props: [
    "edit",
    "id",
    "data",
    "compareToString",
    "overrides"
  ],
  data() {return {}},
  methods: {
    changeValue(value) {
      this.$emit("update", this.id, value, this.override);
    }
  },
  computed: {
    ...mapGetters({
      props: 'params/getProps'
    }),
    getValue() {
      return this.data[this.id];
    },
    obj() {
      let obj = cloneDeep(this.props[this.id]);
      obj.key = this.id;
      obj.edit = this.edit;
      if (!isEmpty(this.overrides) && !isEmpty(this.overrides.locale)) 
        obj.locale = this.overrides.locale;
      return { ...obj, ...this.$i18n.t(obj.locale), ...this.overrides };
    }
  }
}
</script>

<style scoped>
</style>