<template>
  <v-dialog persistent :value="showChanges" width="600">
    <v-card light>
      <v-toolbar color="primary" dark flat dense>
        <v-card-title>Confirm Changes</v-card-title>
      </v-toolbar>
      <v-card-text>
        Are you sure you want to save the following changes? <br /><br />
        <v-data-table
                :headers="headers"
                :items="updates"
                item-key="key" dense 
                no-data-text="There are no Changes." />
      </v-card-text>
      <v-divider/>
      <v-card-actions>
        <v-btn color="warning" v-on:click="$emit('cancelChanges')">Cancel</v-btn>
        <v-spacer/>
        <v-btn color="success" v-on:click="$emit('confirmChanges')">Confirm Changes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: "Cancel",
  props: ["showChanges","changes"],
  data() {
    return {
        headers: [
            { text: 'Attribute', align: 'left', value: 'key' },
            { text: 'Original Value', align: 'left', value: 'original' },
            { text: 'Updated Value', align: 'left', value: 'updated' }
        ]
    }
  },
  computed: {
    ...mapGetters({
        props: 'params/getProps'
    }),
    updates() {
        let results = [];
        for (var key of Object.keys(this.changes)) {
            results.push({ 
                key: this.$i18n.t(this.props[key].locale).label, 
                original: this.changes[key].original, 
                updated: this.changes[key].updated 
            });
        }
        return results;
    }
  }
}
</script>