<template>
    <section>
        <v-row dense>
            <v-col cols="12">
                <h3>{{ $t('applicant.applicantInfo') }}</h3>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense>
            <v-col cols="12" sm="4">
            <UserProp
                v-bind:label="$t('applicant.awardNo')"
                v-bind:value="applicant.prAwardNo"
            />
            <UserProp
                v-bind:label="$t('slates.schNoTitleLbl')"
                v-bind:value="slate.scheduleNo"
            />
            <UserProp
                v-bind:label="$t('applicant.granteeDuns')"
                v-bind:value="applicant.granteeDuns"
            />
            </v-col>
            <v-col cols="12" sm="4">
            <UserProp
                v-bind:label="$t('slates.subProgramLbl')"
                v-bind:value="slate.subProgram"
            />
            <UserProp
                v-bind:label="$t('applicant.stateCd')"
                v-bind:value="applicant.stateCd"
            />
            <UserProp
                v-bind:label="$t('application.status')"
                v-bind:value="applicant.applicationStatus"
            />
            </v-col>
            <v-col cols="12" sm="4">
            <UserProp
                v-bind:label="$t('slates.fiscalYearLbl')"
                v-bind:value="slate.fiscalYear"
            />
            <UserProp
                v-bind:label="$t('applicant.applicantName')"
                v-bind:value="applicant.applicantName"
            />
            <UserProp
                v-bind:label="$t('application.indicator')"
                v-bind:value="applicant.highRiskCd"
            />
            </v-col>
        </v-row>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';
import UserProp from '../common/UserProp';
export default {
    name: "Details",
    components: {UserProp},
    data() {
        return {}
    },
    computed: {
        ...mapGetters({
            slate: 'slates/getSlate',
            applicant: 'slates/getApplicant'
        })
    }
}
</script>