<template>
    <section>
        <v-row dense class="pt-5">
            <v-col cols="12">
                <h3>{{ $t('budget.peformanceTitle') }}</h3>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('budget.startDate')"
                    v-bind:value="startDate"
                />
            </v-col>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('budget.endDate')"
                    v-bind:value="endDate"
                />
            </v-col>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('budget.months')"
                    v-bind:value="months"
                />
            </v-col>
        </v-row>
        <v-row dense>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('budget.maxEndDate')"
                    v-bind:value="maxEndDate"
                />
            </v-col>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('budget.maxMonths')"
                    v-bind:value="maxMonths"
                />
            </v-col>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('budget.projectedTotal')"
                    v-bind:value="total"
                />
            </v-col>
        </v-row>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';
import UserProp from '../common/UserProp';
import isEmpty from 'lodash/isEmpty';
import moment from 'moment/src/moment';
export default {
    name: "Performance",
    components: {
        UserProp
    },
    data() {
        return {
            na: this.$i18n.t('global.na')
        }
    },
    computed: {
        ...mapGetters({
            applicant: 'slates/getModifiedApplicant',
            slate: 'slates/getSlate'
        }),
        startDate() {
            if(isEmpty(this.applicant)) return this.na;
            if(isEmpty(this.applicant.budgetEntities)) return this.na;
            let date = this.applicant.budgetEntities[0].budgetPerdStartDate;
            return moment(String(date)).format('MM/DD/YYYY');
        },
        endDate() {
            if(isEmpty(this.applicant)) return this.na;
            if(isEmpty(this.applicant.budgetEntities)) return this.na;
            let date = this.applicant.budgetEntities[this.applicant.budgetEntities.length -1].budgetPerdEndDate;
            return moment(String(date)).format('MM/DD/YYYY');
        },
        months() {
            if(isEmpty(this.applicant)) return 0;
            return isEmpty(this.applicant.budgetEntities) ? 0 : this.applicant.budgetEntities.length * 12;
        },
        maxEndDate() {
            if(isEmpty(this.applicant)) return this.na;
            if(isEmpty(this.applicant.budgetEntities)) return this.na;
            let date = this.applicant.budgetEntities[0].budgetPerdEndDate;
            return moment(String(date)).add(24, 'M').format('MM/DD/YYYY');
        },
        maxMonths() {
            return this.slate.performancePeriod;
        },
        total() {
            return this.getTotalRequestedAmountForPeriod(this.applicant);
        }
    }
}
</script>