<template>
    <section>
        <v-row dense class="pt-5">
            <v-col cols="12">
                <h3>{{ $t('project.title') }}</h3>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('project.director')"
                    v-bind:value="director.name"
                />
            </v-col>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('project.directorPhone')"
                    v-bind:value="director.phone"
                />
            </v-col>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('project.directorEmail')"
                    v-bind:value="director.email"
                />
            </v-col>
        </v-row>
        <v-row dense>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('project.programContact')"
                    v-bind:value="applicant.edProgramContact"
                />
            </v-col>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('project.programPhone')"
                    v-bind:value="applicant.edProgramContactPhone"
                />
            </v-col>
            <v-col cols="12" sm="4">
                <UserProp
                    v-bind:label="$t('project.programEmail')"
                    v-bind:value="applicant.edProgramContactEmail"
                />
            </v-col>
        </v-row>
    </section>
</template>

<script>
import { mapGetters } from 'vuex';
import UserProp from '../common/UserProp';
import isEmpty from 'lodash/isEmpty';
export default {
    name: "Project",
    components: {
        UserProp
    },
    data() {
        return {
            na: {
                name: "N/A",
                phone: "N/A",
                email: "N/A"
            }
        }
    },
    computed: {
        ...mapGetters({
            applicant: 'slates/getApplicant'
        }),
        director() {
            if (isEmpty(this.applicant.budgetEntities)) return this.na;
            let data = this.na;
            this.applicant.budgetEntities.forEach( period => {
                if (!isEmpty(period.keyPersonnelInfoEntities)) {
                    const director = period.keyPersonnelInfoEntities.filter(personnel => personnel.keyPersonnelTitleCd === "01");
                    if (!isEmpty(director)) {
                        data.name = director[0].firstName + " " + director[0].lastName;
                        data.phone = director[0].phoneNumber;
                        data.email = director[0].email;
                    }
                }
            })
            return data;
        }
    }
}
</script>