<template>
  <v-dialog persistent :value="addOverlay" width="400">
    <v-card light>
      <v-toolbar color="primary" dark flat dense>
        <v-card-title>Abstract Comments</v-card-title>
      </v-toolbar>
      <v-card-text>
        <v-row dense>
          <v-col dense cols="12">
            <v-form ref="form" v-model="canSubmit">
              <UserDataTextArea 
                  v-bind:edit="false" 
                  v-on:update="updateValue"
                  v-bind:id="'comments'"
                  v-bind:data="data"
              />
            </v-form>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider/>
      <v-card-actions>
        <v-btn color="warning" v-on:click="$emit('cancel')">Cancel</v-btn>
        <v-spacer/>
        <v-btn color="success" v-on:click="addPersonnel">Add Abstract</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import UserDataTextArea from "../common/UserDataTextArea";
export default {
  name: "CommentOverlay",
  props: ["addOverlay"],
  components: {
    UserDataTextArea
  },
  data() {
    return {
      canSubmit: false,
      data: {
        comments: "",
      }
    }
  },
  methods: {
    updateValue(key, value) {
      this.data[key] = value;
    },
    addPersonnel() {
      if(this.$refs.form.validate()) {
        const comment = this.data.comments;
        this.data = {comments: ""};
        this.$emit("addComment", comment);
      }
    }
  }
}
</script>