<template>
    <section>
        <CommentOverlay v-bind:addOverlay="addOverlay" v-on:addComment="addAbstract"  v-on:cancel="addOverlay=false" />
        <v-row dense>
            <v-col cols="12" sm="11">
            <h3>{{ $t('abstract.narrativeTitle') }}</h3>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense v-if="expandDetails" class="ma-2">
            <v-col cols="12">
                <v-data-table
                :headers="headers"
                :items="narratives"
                item-key="abstractId" dense
                no-data-text="There are no Narratives to select from.">
                    <template v-slot:item.actions="{ item }">
                        <v-chip
                            class="ma-2"
                            color="success"
                            text-color="white"
                            v-on:click="view(item)">
                            View
                            <v-icon right>
                                mdi-magnify
                            </v-icon>
                        </v-chip>
                        <v-chip v-if="noAbstract"
                            class="ma-2"
                            color="primary"
                            text-color="white"
                            v-on:click="select(item)">
                            Select
                            <v-icon right>
                                mdi-plus-circle
                            </v-icon>
                        </v-chip>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>
    </section>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import CommentOverlay from "./CommentOverlay";
import isEmpty from "lodash/isEmpty";
import moment from 'moment/src/moment';
export default {
    name: "Narrative",
    components: {CommentOverlay},
    props: ["abstract"],
    data() {
        return {
            expandDetails: true,
            addOverlay: false,
            selected: {},
            headers: [
                { text: this.$i18n.t('abstract.source'), align: 'left', value: 'source' },
                { text: this.$i18n.t('abstract.title'), align: 'left', value: 'title' },
                { text: this.$i18n.t('global.actions'), align: 'left', value: 'actions', width: '230px', sortable: false }
            ]
        }
    },
    methods: {
        ...mapActions({
            uploadAbstract: 'slates/addAbstract',
            updateApplication: 'slates/updateApplication'
        }),
        ...mapMutations({
            updateApplicant: 'slates/updateApplicant',
            updateOriginal: 'slates/updateOriginal'
        }),
        select(item) {
            this.selected = item;
            this.addOverlay = true;
        },
        async addAbstract(comment) {
            this.$emit("apiCall");
            this.abstract.push(this.selected);
            this.addOverlay = false;
            let request = {
                applicationId: this.applicant.applicationId,
                abstractCompleteInd: "Y",
                abstractFileName: this.selected.documentLink,
                abstractId: this.selected.narrativeDocumentId,
                comment: comment,
                dateSelected: moment(new Date()).format('YYYY-MM-DD'),
                lastModifiedOn: moment(new Date()).format('YYYY-MM-DD'),
                modifiedUser: "G5_GrantsGov_System"
            }
            try {
                const abstract = await this.uploadAbstract(request);
                this.$emit("updateAbstract", abstract);
            } catch (err) {
                console.log(err);
                this.$emit("failure");
            }
        },
        view(abstract) {
            window.open('/src/assets/' + abstract.documentLink, '_blank');
        }
    },
    computed: {
        ...mapGetters({
            narratives: 'slates/getNarratives',
            applicant: 'slates/getModifiedApplicant'
        }),
        noAbstract() {
            if(isEmpty(this.abstract)) return true;
            return false;
        }
    },
    created() {
        if(isEmpty(this.abstract)) this.expandDetails = true;
        else this.expandDetails = false;
    }
}
</script>