<template>
    <section>
        <v-row dense>
            <v-col cols="12" sm="6">
                <h3>{{ $t('abstract.selectedTitle') }}</h3>
            </v-col>
            <v-col cols="12" sm="6" style="text-align: right">
                <v-chip
                    v-if="isAbstract"
                    small color="error" close
                    text-color="white" class="mb-1 mr-10"
                    v-on:click="removeSelected">
                    {{  $t('abstract.deleteAbstract') }}
                </v-chip>
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <div v-if="expandDetails">
            <v-row v-if="!isAbstract" dense class="ml-2">
                <v-col cols="12" sm="4">
                    {{  $t('abstract.noAbstract') }}
                </v-col>
            </v-row>
            <v-row v-if="isAbstract" dense  class="ma-2">
                <v-col cols="12">
                    <v-row dense>
                        <v-col cols="12" sm="4">
                            <UserProp
                                v-bind:label="$t('abstract.fileName')"
                                v-bind:value="abs.abstractFileName"
                            />
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-checkbox 
                                dense class="pa-0 ma-0" 
                                v-model="checked"
                                disabled
                                :label="$t('abstract.exactCopy')"
                                hide-details 
                            />
                        </v-col>
                    </v-row>
                    <v-row dense>
                        <v-col cols="!2" sm="4">
                            <UserProp
                                v-bind:label="$t('abstract.dateSelected')"
                                v-bind:value="abs.dateSelected"
                            />
                        </v-col>
                        <v-col cols="12" sm="4">
                            <UserProp
                                v-bind:label="$t('abstract.lastModified')"
                                v-bind:value="abs.lastModifiedOn"
                            />
                        </v-col>
                        <v-col cols="12" sm="4">
                            <UserProp
                                v-bind:label="$t('abstract.lastModifiedBy')"
                                v-bind:value="abs.modifiedUser"
                            />
                        </v-col>
                    </v-row>
                    <v-row dense>
                        <v-col cols="6">
                            <UserProp
                                v-bind:label="$t('abstract.comments.label')"
                                v-bind:value="abs.comment"
                            />
                        </v-col>
                    </v-row>
                </v-col >
            </v-row>
        </div>
    </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import UserProp from "../common/UserProp";
import isEmpty from "lodash/isEmpty";
export default {
    name: "Selected",
    components: {UserProp},
    props: ["abstract"],
    data() {
        return {
            expandDetails: true,
        }
    },
    methods: {
        ...mapActions({
            getBudget: 'slates/getBudget',
            removeAbstract: 'slates/removeAbstract'
        }),
        async removeSelected() {
            this.$emit("apiCall");
            try {
                await this.removeAbstract(this.abstract[0]);
                this.$emit("updateAbstract", undefined);
            } catch (err) {
                console.log(err);
                this.$emit("failure");
            }
        }
    },
    computed: {
        ...mapGetters({
            applicant: 'slates/getModifiedApplicant'
        }),
        abs() {
            if(isEmpty(this.abstract)) return {};
            return this.abstract[0];
        },
        isAbstract() {
            if(isEmpty(this.abs.abstractFileName)) return false;
            return true;
        },
        checked() {
            return true;
        }
    }
}
</script>