<template>
    <section>
        <v-row dense>
            <v-col cols="12" sm="11">
            <h3>{{ $t('abstract.uploadTitle') }}</h3>
            </v-col>
            <v-col cols="12" sm="1" style="text-align: right">
                <v-icon v-on:click="expandDetails = !expandDetails">
                    {{ expandDetails ? 'mdi-eye-off' : 'mdi-eye'}}
                </v-icon>
            </v-col>
        </v-row>
        <v-divider />
        <v-row dense v-if="expandDetails">
            <v-col cols="12" sm="4">
                <v-file-input
                    chips
                    multiple
                    persistent-hint
                    :hint="$t('abstract.uploadDescription')"
                    :label="$t('abstract.uploadLabel')"
                    ></v-file-input>
            </v-col>
            <v-col cols="12" sm="4"> 
                <v-chip
                    class="ma-2"
                    color="primary"
                    text-color="white"
                    v-on:click="uploadAbstract()">
                    {{ $t('global.upload') }}
                    <v-icon right>
                        mdi-cloud-upload
                    </v-icon>
                </v-chip>
            </v-col>
        </v-row>
    </section>
</template>

<script>
import isEmpty from "lodash/isEmpty";
export default {
    name: "Upload",
    components: {},
    props: ["abstract"],
    data() {
        return {
            expandDetails: true
        }
    },
    methods: {
        updateValue(key, value) {
            this.updateAbstract({key, value});
        },
        uploadAbstract() {
            
        }
    },
    created() {
        if(isEmpty(this.abstract)) this.expandDetails = true;
        else this.expandDetails = false;
    }
}
</script>